### Data Processing by adding OPD and IPD to dataset to see inequality

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

### OPD 2556

In [2]:
df_opd_2556 = pd.read_excel('../add_data/dataset/OPD/OPD2556.xlsx')
df_opd_2556

,"จำนวนผู้ป่วยนอก และอัตราต่อประชากร 1,000 คน รายจังหวัด พ.ศ.2556",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,NaN,กำแพงเพชร,NaN,...,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN,ทั้งประเทศ,NaN
2,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,NaN,รวม,1110208,2478.535661,1780883,2118.648544,3407362,3460.807246,2511719,3449.722769,...,3019377,1934.715509,1959943,4250.17565,1652950,5020.471264,5387736,2941.351876,171909514,2916.617618
4,01,โรคติดเชื้อและปรสิต,49848,111.285494,61905,73.646016,149750,152.098863,71809,98.626137,...,122991,78.808508,54934,119.125479,38927,118.232182,264149,144.208097,6879116,116.711114
5,02,เนื้องอก (รวมมะเร็ง),5696,12.716301,6587,7.836303,17827,18.106621,14389,19.762585,...,13752,8.81182,16849,36.537394,9372,28.465384,49784,27.178812,1298875,22.036719
6,03,โรคเลือดและอวัยวะสร้างเลือด และความผิดปกติเกี่...,6674,14.899683,11572,13.766767,34159,34.694792,20124,27.639326,...,20554,13.170314,16556,35.902018,8481,25.759168,63541,34.689235,1351110,22.922939
7,04,โรคเกี่ยวกับต่อมไร้ท่อ โภชนการ และเมตะบอลิสัม,157489,351.593668,205598,244.592095,438919,445.803544,334347,459.209194,...,439593,281.67645,298408,647.103725,230404,699.801362,707203,386.086637,23017822,390.520476
8,05,ภาวะแปรปรวนทางจิตและพฤติกรรม,18023,40.236287,16602,19.750766,62721,63.704793,64283,88.289545,...,36018,23.079126,43737,94.84456,30842,93.675776,137044,74.817071,3522647,59.765245
9,06,โรคระบบประสาท,15463,34.521096,34729,41.315766,52784,53.611929,84782,116.443916,...,43621,27.950874,31652,68.637996,47268,143.566131,101995,55.682607,3044911,51.659974
10,07,โรคตารวมส่วนประกอบของตา,23578,52.637806,42668,50.760491,69491,70.580982,57467,78.928104,...,62378,39.96973,54205,117.544628,31794,96.567267,134869,73.629663,4456980,75.617144
11,08,โรคหูและปุ่มกกหู,8660,19.333421,12645,15.043274,15335,15.575533,58471,80.307049,...,15710,10.066441,10545,22.867044,64018,194.440563,43362,23.672819,1447762,24.562737
12,09,โรคระบบไหลเวียนเลือด,156741,349.92376,272080,323.683193,322864,327.928195,447502,614.622033,...,360169,230.784215,345213,748.601305,297716,904.246724,593654,324.096301,24402362,414.010588
13,10,โรคระบบหายใจ,162823,363.501805,330708,393.430687,447229,454.243888,347340,477.054442,...,479137,307.014919,192476,417.388061,204904,622.350733,849185,463.599533,24652285,418.250783
14,11,โรคระบบย่อยอาหาร รวมโรคในช่องปาก,128949,287.878213,216993,258.148291,445399,452.385184,326192,448.008702,...,325133,208.334321,198412,430.260396,204803,622.043968,579091,316.145854,19269089,326.919454
15,12,โรคผิวหนังและเนื้อเยื้อใต้ผิวหนัง,36883,82.341175,84806,100.890462,109744,111.46536,92751,127.388946,...,80980,51.889268,48050,104.197387,54072,164.231781,183983,100.442698,5813856,98.637908
16,13,โรคระบบกล้ามเนื้อ รวมโครงร่าง และเนื้อยึดเสริม,71879,160.469628,174469,207.559111,678542,689.185085,318257,437.110369,...,350196,224.393851,252010,546.488732,258665,785.63792,650492,355.126135,20727192,351.657636
17,14,โรคระบบสืบพันธุ์ร่วมปัสสาวะ,41634,92.947766,46397,55.19674,124294,126.24358,66550,91.403159,...,116089,74.385937,76269,165.390854,32688,99.282595,275579,150.44813,6171275,104.70188
18,15,ภาวะแทรกในการตั้งครรภ์ การคลอด และระยะหลังคลอด,3773,8.42321,7872,9.365018,10602,10.768295,8722,11.979239,...,8506,5.45036,4610,9.996877,3986,12.106596,16532,9.025392,577997,9.8063
19,16,ภาวะผิดปกติของทารกที่เกิดขึ้นในระยะปริกำเนิด (...,402,0.897464,1365,1.623888,3047,3.094793,1009,1.385812,...,2318,1.485297,1923,4.170064,1402,4.258266,4714,2.573536,133820,2.270391
20,17,รูปร่างผิดปกติแต่กำเนิด การพิการจนผิดรูปแต่กำ...,1579,3.525112,1028,1.222972,1982,2.013088,1820,2.499681,...,2399,1.537199,2084,4.519196,988,3.000832,8847,4.829884,207985,3.528674
21,18,"อาการ, อาการแสดงและสิ่งผิดปกติที่พบได้จากการตร...",174032,388.52586,200534,238.567647,346613,352.049704,126906,174.299162,...,458849,294.015049,259449,562.620353,99162,301.182717,590284,322.256501,20108029,341.152914
22,19,การเป็นพิษและผลที่ตามมา,715,1.596235,502,0.59721,1671,1.69721,860,1.181168,...,548,0.35114,483,1.047395,387,1.175427,1499,0.818356,55464,0.941002
23,20,อุบัติเหตุจากการขนส่งและผลที่ตามมา,9787,21.849445,9901,11.778842,17832,18.111699,15507,21.298103,...,20376,13.056257,11663,25.291449,7603,23.092437,30442,16.619343,1050088,17.815798
24,21,สาเหตุจากภายนอกอื่นๆ ที่ทำให้ป่วยหรือตาย,35580,79.432231,41922,49.873004,56557,57.444109,52631,72.286095,...,60060,38.484434,40415,87.640737,25468,77.353436,101487,55.405272,3720849,63.127942
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,แหล่งข้อมูล : พ.ศ.2556 ฐานข้อมูลผู้ป่วยนอกราย...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_opd_2556 = df_opd_2556.loc[0:3]
df_opd_2556

,"จำนวนผู้ป่วยนอก และอัตราต่อประชากร 1,000 คน รายจังหวัด พ.ศ.2556",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,NaN,กำแพงเพชร,NaN,...,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN,ทั้งประเทศ,NaN
2,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,NaN,รวม,1110208,2478.535661,1780883,2118.648544,3407362,3460.807246,2511719,3449.722769,...,3019377,1934.715509,1959943,4250.17565,1652950,5020.471264,5387736,2941.351876,171909514,2916.617618

In [4]:
len(df_opd_2556.columns)

156

In [5]:
# [f'Unnamed: {i}' for i in range(len(df_opd_2556.columns))]

In [6]:
df_opd_2556 = df_opd_2556.drop(columns=[f'Unnamed: {i}' for i in range(3,len(df_opd_2556.columns),2)])
df_opd_2556

,"จำนวนผู้ป่วยนอก และอัตราต่อประชากร 1,000 คน รายจังหวัด พ.ศ.2556",Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,ชลบุรี,...,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี,ทั้งประเทศ
2,NaN,NaN,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,...,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน
3,NaN,รวม,1110208,1780883,3407362,2511719,7250904,1577151,1586269,3226006,...,4130919,1749272,1718309,1179579,1221845,3019377,1959943,1652950,5387736,171909514

In [7]:
df_opd_2556 = df_opd_2556.loc[1:3:2]
df_opd_2556

,"จำนวนผู้ป่วยนอก และอัตราต่อประชากร 1,000 คน รายจังหวัด พ.ศ.2556",Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
1,กลุ่มโรค,สาเหตุการป่วย,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,ชลบุรี,...,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี,ทั้งประเทศ
3,NaN,รวม,1110208,1780883,3407362,2511719,7250904,1577151,1586269,3226006,...,4130919,1749272,1718309,1179579,1221845,3019377,1959943,1652950,5387736,171909514

In [8]:
df_opd_2556.columns

Index(['จำนวนผู้ป่วยนอก และอัตราต่อประชากร 1,000 คน  รายจังหวัด พ.ศ.2556',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 8',
       'Unnamed: 10', 'Unnamed: 12', 'Unnamed: 14', 'Unnamed: 16',
       'Unnamed: 18', 'Unnamed: 20', 'Unnamed: 22', 'Unnamed: 24',
       'Unnamed: 26', 'Unnamed: 28', 'Unnamed: 30', 'Unnamed: 32',
       'Unnamed: 34', 'Unnamed: 36', 'Unnamed: 38', 'Unnamed: 40',
       'Unnamed: 42', 'Unnamed: 44', 'Unnamed: 46', 'Unnamed: 48',
       'Unnamed: 50', 'Unnamed: 52', 'Unnamed: 54', 'Unnamed: 56',
       'Unnamed: 58', 'Unnamed: 60', 'Unnamed: 62', 'Unnamed: 64',
       'Unnamed: 66', 'Unnamed: 68', 'Unnamed: 70', 'Unnamed: 72',
       'Unnamed: 74', 'Unnamed: 76', 'Unnamed: 78', 'Unnamed: 80',
       'Unnamed: 82', 'Unnamed: 84', 'Unnamed: 86', 'Unnamed: 88',
       'Unnamed: 90', 'Unnamed: 92', 'Unnamed: 94', 'Unnamed: 96',
       'Unnamed: 98', 'Unnamed: 100', 'Unnamed: 102', 'Unnamed: 104',
       'Unnamed: 106', 'Unnamed: 108', 'Unnamed: 110', 'Unnamed: 112',
       'Unnamed: 114', 'Unnamed: 116', 'Unnamed: 118', 'Unnamed: 120',
       'Unnamed: 122', 'Unnamed: 124', 'Unnamed: 126', 'Unnamed: 128',
       'Unnamed: 130', 'Unnamed: 132', 'Unnamed: 134', 'Unnamed: 136',
       'Unnamed: 138', 'Unnamed: 140', 'Unnamed: 142', 'Unnamed: 144',
       'Unnamed: 146', 'Unnamed: 148', 'Unnamed: 150', 'Unnamed: 152',
       'Unnamed: 154'],
      dtype='object')

In [9]:
df_opd_2556 = df_opd_2556.drop(columns=df_opd_2556.columns[0])
df_opd_2556

,Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,Unnamed: 18,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
1,สาเหตุการป่วย,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,ชลบุรี,ชัยนาท,...,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี,ทั้งประเทศ
3,รวม,1110208,1780883,3407362,2511719,7250904,1577151,1586269,3226006,1019815,...,4130919,1749272,1718309,1179579,1221845,3019377,1959943,1652950,5387736,171909514

In [10]:
prov_2556 = df_opd_2556.loc[1].values
prov_2556

array(['สาเหตุการป่วย', 'กระบี่', 'กาญจนบุรี', 'กาฬสินธุ์', 'กำแพงเพชร',
       'ขอนแก่น', 'จันทบุรี', 'ฉะเชิงเทรา', 'ชลบุรี', 'ชัยนาท', 'ชัยภูมิ',
       'ชุมพร', 'เชียงราย', 'เชียงใหม่', 'ตรัง', 'ตราด', 'ตาก', 'นครนายก',
       'นครปฐม', 'นครพนม', 'นครราชสีมา', 'นครศรีธรรมราช', 'นครสวรรค์',
       'นนทบุรี', 'นราธิวาส', 'น่าน', 'บึงกาฬ', 'บุรีรัมย์', 'ปทุมธานี',
       'ประจวบคีรีขันธ์', 'ปราจีนบุรี', 'ปัตตานี', 'พระนครศรีอยุธยา',
       'พะเยา', 'พังงา', 'พัทลุง', 'พิจิตร', 'พิษณุโลก', 'เพชรบุรี',
       'เพชรบูรณ์', 'แพร่', 'ภูเก็ต', 'มหาสารคาม', 'มุกดาหาร',
       'แม่ฮ่องสอน', 'ยโสธร', 'ยะลา', 'ร้อยเอ็ด', 'ระนอง', 'ระยอง',
       'ราชบุรี', 'ลพบุรี', 'ลำปาง', 'ลำพูน', 'เลย', 'ศรีสะเกษ', 'สกลนคร',
       'สงขลา', 'สตูล', 'สมุทรปราการ', 'สมุทรสงคราม', 'สมุทรสาคร',
       'สระแก้ว', 'สระบุรี', 'สิงห์บุรี', 'สุโขทัย', 'สุพรรณบุรี',
       'สุราษฎร์ธานี', 'สุรินทร์', 'หนองคาย', 'หนองบัวลำภู', 'อ่างทอง',
       'อำนาจเจริญ', 'อุดรธานี', 'อุตรดิตถ์', 'อุทัยธานี', 'อุบลราชธานี',
       'ทั้งประเทศ'], dtype=object)

In [11]:
len(prov_2556)

78

In [12]:
no_patient_2556 = df_opd_2556.loc[3].values
no_patient_2556

array(['รวม', 1110208, 1780883, 3407362, 2511719, 7250904, 1577151,
       1586269, 3226006, 1019815, 3197242, 1232963, 3418302, 3967943,
       1851220, 626376, 1566572, 1005127, 3406928, 2225590, 6015065,
       4271094, 3658393, 2343540, 1559397, 1955562, 929015, 4891778,
       1876089, 1376033, 1479512, 1351421, 3116985, 2139978, 429230,
       1585056, 2095271, 3031249, 2071255, 2711954, 1886706, 831093,
       2793921, 701992, 848174, 1866426, 632298, 3999158, 524737, 1517002,
       3118635, 2297682, 2578493, 1675712, 2329825, 3950285, 3295893,
       3446989, 693965, 2407691, 418850, 2119256, 1336503, 1070381,
       880098, 2133750, 3317429, 2360183, 4130919, 1749272, 1718309,
       1179579, 1221845, 3019377, 1959943, 1652950, 5387736, 171909514],
      dtype=object)

In [13]:
new_df = pd.DataFrame(data={'Province':prov_2556,
                            'total_OPD': no_patient_2556})
new_df

         Province  total_OPD
0   สาเหตุการป่วย        รวม
1          กระบี่    1110208
2       กาญจนบุรี    1780883
3       กาฬสินธุ์    3407362
4       กำแพงเพชร    2511719
..            ...        ...
73       อุดรธานี    3019377
74      อุตรดิตถ์    1959943
75      อุทัยธานี    1652950
76    อุบลราชธานี    5387736
77     ทั้งประเทศ  171909514

[78 rows x 2 columns]

In [14]:
new_df['Year'] = 2556
new_df

         Province  total_OPD  Year
0   สาเหตุการป่วย        รวม  2556
1          กระบี่    1110208  2556
2       กาญจนบุรี    1780883  2556
3       กาฬสินธุ์    3407362  2556
4       กำแพงเพชร    2511719  2556
..            ...        ...   ...
73       อุดรธานี    3019377  2556
74      อุตรดิตถ์    1959943  2556
75      อุทัยธานี    1652950  2556
76    อุบลราชธานี    5387736  2556
77     ทั้งประเทศ  171909514  2556

[78 rows x 3 columns]

In [15]:
# อย่าลืมลบ 'ทั้งประเทศ'
new_df = new_df[:len(new_df)-1]
new_df = new_df[1:]
new_df

       Province total_OPD  Year
1        กระบี่   1110208  2556
2     กาญจนบุรี   1780883  2556
3     กาฬสินธุ์   3407362  2556
4     กำแพงเพชร   2511719  2556
5       ขอนแก่น   7250904  2556
..          ...       ...   ...
72   อำนาจเจริญ   1221845  2556
73     อุดรธานี   3019377  2556
74    อุตรดิตถ์   1959943  2556
75    อุทัยธานี   1652950  2556
76  อุบลราชธานี   5387736  2556

[76 rows x 3 columns]

### OPD 2557

In [16]:
df_opd_2557 = pd.read_excel('../add_data/dataset/OPD/OPD2557.xls')
df_opd_2557

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2557 (อัตราต่อประชากร 1,000 คน)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,ทั้งประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,NaN,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
2,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,NaN,รวม,168125897,2836.799672,957304,2109.296023,2382065,2817.211486,3109735,3158.794233,...,1155587,3081.244884,4580373,2922.774214,1795748,3897.885383,1574061,4771.935196,4883992,2653.48398
4,1,โรคติดเชื้อและปรสิต,5154353,86.969748,26626,58.66696,64157,75.876954,117697,119.55379,...,44910,119.747546,147099,93.865099,38473,83.510239,28000,84.885011,193171,104.950244
5,2,เนื้องอก (รวมมะเร็ง),1419796,23.956314,4778,10.527707,15550,18.390614,20593,20.917876,...,5065,13.505262,44317,28.279047,16552,35.928092,9723,29.47632,39161,21.276261
6,3,โรคเลือดและอวัยวะสร้างเลือด และความผิดปกติเกี่...,1092125,18.427499,4557,10.040762,15530,18.366961,19922,20.23629,...,9375,24.9974,33263,21.225398,13848,30.058737,6776,20.542173,38654,21.000806
7,4,โรคเกี่ยวกับต่อมไร้ท่อ โภชนการ และเมตะบอลิสัม,24570625,414.581823,158617,349.492123,316196,373.957471,451550,458.673661,...,165066,440.130226,763281,487.055972,314471,682.596842,233134,706.770792,699982,380.301815
8,5,ภาวะแปรปรวนทางจิตและพฤติกรรม,3008629,50.764801,13338,29.388565,22649,26.786432,55241,56.112483,...,19731,52.610529,51914,33.126756,40732,88.413668,25132,76.190361,117708,63.951025
9,6,โรคระบบประสาท,2932141,49.474214,11437,25.199956,45337,53.618989,47155,47.898918,...,15192,40.507787,70860,45.216357,28497,61.85614,41864,126.915218,78505,42.651945
10,7,โรคตารวมส่วนประกอบของตา,5267364,88.87659,21020,46.314862,67167,79.43681,78617,79.857263,...,38218,101.904069,172355,109.981163,57713,125.272955,31143,94.413354,149139,81.027558
11,8,โรคหูและปุ่มกกหู,1328661,22.418587,5737,12.64074,19662,23.253779,14347,14.573339,...,6311,16.827583,26524,16.925186,8443,18.326539,57826,175.305738,38816,21.088821
12,9,โรคระบบไหลเวียนเลือด,25978566,438.338107,159368,351.146855,401763,475.155522,350540,356.070125,...,114960,306.528121,650875,415.328766,350401,760.587196,299100,906.753815,563556,306.181259
13,10,โรคระบบหายใจ,24298037,409.982428,144437,318.24832,407391,481.811623,423324,430.002367,...,187526,500.017332,649758,414.615999,178467,387.383926,184053,557.976463,833297,452.732158
14,11,โรคระบบย่อยอาหาร รวมโรคในช่องปาก,19169241,323.443905,107925,237.798832,284867,336.90541,435745,442.619321,...,145516,388.002314,475748,303.578767,170545,370.18828,198007,600.279514,549001,298.273494
15,12,โรคผิวหนังและเนื้อเยื้อใต้ผิวหนัง,5468001,92.261952,28747,63.340311,102091,120.740592,98595,100.150436,...,43095,114.90805,114686,73.182093,39784,86.355921,50021,151.644041,168522,91.558387
16,13,โรคระบบกล้ามเนื้อ รวมโครงร่าง และเนื้อยึดเสริม,20454612,345.132057,62791,138.351878,232456,274.920169,599015,608.465071,...,175136,466.980767,577953,368.79663,232745,505.200804,250697,760.014916,634026,344.46777
17,14,โรคระบบสืบพันธุ์ร่วมปัสสาวะ,4815339,81.249542,28803,63.463699,61206,72.386877,75884,77.081147,...,32783,87.412242,133516,85.197673,56883,123.471341,30849,93.522061,170132,92.433103
18,15,ภาวะแทรกในการตั้งครรภ์ การคลอด และระยะหลังคลอด,648896,10.948866,3555,7.832984,11975,14.162547,9780,9.934289,...,4787,12.764006,17507,11.171363,2985,6.479299,4581,13.887794,15981,8.682514
19,16,ภาวะผิดปกติของทารกที่เกิดขึ้นในระยะปริกำเนิด (...,153845,2.595837,384,0.846095,2374,2.807673,1375,1.396692,...,681,1.815811,3653,2.33101,947,2.055577,2198,6.663473,5523,3.000658
20,17,รูปร่างผิดปกติแต่กำเนิด การพิการจนผิดรูปแต่กำ...,192901,3.254832,1090,2.401675,2048,2.422121,1652,1.678062,...,587,1.565171,4679,2.985709,1916,4.158907,910,2.758763,5201,2.825715
21,18,"อาการ, อาการแสดงและสิ่งผิดปกติที่พบได้จากการตร...",17583870,296.693832,140914,310.485843,240545,284.486837,242836,246.666985,...,106111,282.933242,525403,335.264036,204711,444.349661,89192,270.39514,459358,249.570248
22,19,การเป็นพิษและผลที่ตามมา,63595,1.073043,670,1.476259,755,0.892921,1279,1.299178,...,445,1.186543,1111,0.708938,323,0.70111,408,1.236896,2127,1.155604
23,20,อุบัติเหตุจากการขนส่งและผลที่ตามมา,964819,16.279456,6790,14.96089,13177,15.584124,13521,13.734308,...,7638,20.365882,26986,17.219992,7574,16.440271,6586,19.966167,26819,14.570824
24,21,สาเหตุจากภายนอกอื่นๆ ที่ทำให้ป่วยหรือตาย,3560481,60.076238,25720,56.670706,55169,65.247061,51067,51.872634,...,32454,86.535,88885,56.71826,29738,64.549879,23861,72.337188,95313,51.78377
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,แหล่งข้อมูล: ฐานข้อมูลการให้บริการผู้ป่วยนอก ก...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,สำนักนโยบายและยุทธศาสตร์ สำนักงานปลัดกระทรวงสา...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df_opd_2557 = df_opd_2557.loc[0:3]
df_opd_2557

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2557 (อัตราต่อประชากร 1,000 คน)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,ทั้งประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,NaN,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
2,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,NaN,รวม,168125897,2836.799672,957304,2109.296023,2382065,2817.211486,3109735,3158.794233,...,1155587,3081.244884,4580373,2922.774214,1795748,3897.885383,1574061,4771.935196,4883992,2653.48398

In [18]:
len(df_opd_2557.columns)

156

In [19]:
df_opd_2557 = df_opd_2557.drop(columns=[f'Unnamed: {i}' for i in range(3,len(df_opd_2557.columns),2)])
df_opd_2557

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2557 (อัตราต่อประชากร 1,000 คน)",Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,...,สุราษฎร์ธานี,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
2,NaN,NaN,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,...,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน
3,NaN,รวม,168125897,957304,2382065,3109735,2585490,5270060,1716292,1765830,...,3130546,3756480,1806662,1706402,644061,1155587,4580373,1795748,1574061,4883992

In [20]:
df_opd_2557 = df_opd_2557.loc[1:3:2]
df_opd_2557

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2557 (อัตราต่อประชากร 1,000 คน)",Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
1,กลุ่มโรค,สาเหตุการป่วย,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,...,สุราษฎร์ธานี,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,NaN,รวม,168125897,957304,2382065,3109735,2585490,5270060,1716292,1765830,...,3130546,3756480,1806662,1706402,644061,1155587,4580373,1795748,1574061,4883992

In [21]:
df_opd_2557.columns

Index(['จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2557 (อัตราต่อประชากร 1,000 คน)',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 8',
       'Unnamed: 10', 'Unnamed: 12', 'Unnamed: 14', 'Unnamed: 16',
       'Unnamed: 18', 'Unnamed: 20', 'Unnamed: 22', 'Unnamed: 24',
       'Unnamed: 26', 'Unnamed: 28', 'Unnamed: 30', 'Unnamed: 32',
       'Unnamed: 34', 'Unnamed: 36', 'Unnamed: 38', 'Unnamed: 40',
       'Unnamed: 42', 'Unnamed: 44', 'Unnamed: 46', 'Unnamed: 48',
       'Unnamed: 50', 'Unnamed: 52', 'Unnamed: 54', 'Unnamed: 56',
       'Unnamed: 58', 'Unnamed: 60', 'Unnamed: 62', 'Unnamed: 64',
       'Unnamed: 66', 'Unnamed: 68', 'Unnamed: 70', 'Unnamed: 72',
       'Unnamed: 74', 'Unnamed: 76', 'Unnamed: 78', 'Unnamed: 80',
       'Unnamed: 82', 'Unnamed: 84', 'Unnamed: 86', 'Unnamed: 88',
       'Unnamed: 90', 'Unnamed: 92', 'Unnamed: 94', 'Unnamed: 96',
       'Unnamed: 98', 'Unnamed: 100', 'Unnamed: 102', 'Unnamed: 104',
       'Unnamed: 106', 'Unnamed: 108', 'Unnamed: 110', 'Unnamed: 112',
       'Unnamed: 114', 'Unnamed: 116', 'Unnamed: 118', 'Unnamed: 120',
       'Unnamed: 122', 'Unnamed: 124', 'Unnamed: 126', 'Unnamed: 128',
       'Unnamed: 130', 'Unnamed: 132', 'Unnamed: 134', 'Unnamed: 136',
       'Unnamed: 138', 'Unnamed: 140', 'Unnamed: 142', 'Unnamed: 144',
       'Unnamed: 146', 'Unnamed: 148', 'Unnamed: 150', 'Unnamed: 152',
       'Unnamed: 154'],
      dtype='object')

In [22]:
df_opd_2557 = df_opd_2557.drop(columns=df_opd_2557.columns[0])
df_opd_2557

,Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,Unnamed: 18,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
1,สาเหตุการป่วย,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,ชลบุรี,...,สุราษฎร์ธานี,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,รวม,168125897,957304,2382065,3109735,2585490,5270060,1716292,1765830,3043960,...,3130546,3756480,1806662,1706402,644061,1155587,4580373,1795748,1574061,4883992

In [23]:
df_opd_2557 = df_opd_2557.drop(columns=['Unnamed: 1', 'Unnamed: 2'])
df_opd_2557

,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,Unnamed: 18,Unnamed: 20,Unnamed: 22,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
1,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,ชลบุรี,ชัยนาท,ชัยภูมิ,...,สุราษฎร์ธานี,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,957304,2382065,3109735,2585490,5270060,1716292,1765830,3043960,839797,3408186,...,3130546,3756480,1806662,1706402,644061,1155587,4580373,1795748,1574061,4883992

In [24]:
prov_2557 = df_opd_2557.loc[1].values
prov_2557

array(['กระบี่', 'กาญจนบุรี', 'กาฬสินธุ์', 'กำแพงเพชร', 'ขอนแก่น',
       'จันทบุรี', 'ฉะเชิงเทรา', 'ชลบุรี', 'ชัยนาท', 'ชัยภูมิ', 'ชุมพร',
       'เชียงราย', 'เชียงใหม่', 'ตรัง', 'ตราด', 'ตาก', 'นครนายก',
       'นครปฐม', 'นครพนม', 'นครราชสีมา', 'นครศรีธรรมราช', 'นครสวรรค์',
       'นนทบุรี', 'นราธิวาส', 'น่าน', 'บึงกาฬ', 'บุรีรัมย์', 'ปทุมธานี',
       'ประจวบคีรีขันธ์', 'ปราจีนบุรี', 'ปัตตานี', 'พระนครศรีอยุธยา',
       'พะเยา', 'พังงา', 'พัทลุง', 'พิจิตร', 'พิษณุโลก', 'เพชรบุรี',
       'เพชรบูรณ์', 'แพร่', 'ภูเก็ต', 'มหาสารคาม', 'มุกดาหาร',
       'แม่ฮ่องสอน', 'ยโสธร', 'ยะลา', 'ร้อยเอ็ด', 'ระนอง', 'ระยอง',
       'ราชบุรี', 'ลพบุรี', 'ลำปาง', 'ลำพูน', 'เลย', 'ศรีสะเกษ', 'สกลนคร',
       'สงขลา', 'สตูล', 'สมุทรปราการ', 'สมุทรสงคราม', 'สมุทรสาคร',
       'สระแก้ว', 'สระบุรี', 'สิงห์บุรี', 'สุโขทัย', 'สุพรรณบุรี',
       'สุราษฎร์ธานี', 'สุรินทร์', 'หนองคาย', 'หนองบัวลำภู', 'อ่างทอง',
       'อำนาจเจริญ', 'อุดรธานี', 'อุตรดิตถ์', 'อุทัยธานี', 'อุบลราชธานี'],
      dtype=object)

In [25]:
len(prov_2557)

76

In [26]:
no_patient_2557 = df_opd_2557.loc[3].values
no_patient_2557

array([957304, 2382065, 3109735, 2585490, 5270060, 1716292, 1765830,
       3043960, 839797, 3408186, 1378087, 3839033, 3858099, 1717201,
       792210, 1850337, 916381, 3143382, 1937332, 7897513, 4095538,
       3525817, 2422296, 1299975, 1911357, 1166177, 4643981, 1364084,
       1747043, 1461019, 1644050, 2825524, 1775718, 297342, 1266377,
       2152084, 3064781, 1940664, 2571655, 1797865, 687450, 2633369,
       456364, 850849, 1901453, 624013, 4043052, 506481, 1025401, 2873837,
       2048107, 2094371, 1592726, 2330699, 4385546, 3565044, 4063606,
       526762, 1562426, 519528, 1390779, 1074138, 478017, 940958, 2087130,
       3448238, 3130546, 3756480, 1806662, 1706402, 644061, 1155587,
       4580373, 1795748, 1574061, 4883992], dtype=object)

In [27]:
df_2557 = pd.DataFrame(data={'Province':prov_2557,
                            'total_OPD': no_patient_2557})
df_2557

       Province total_OPD
0        กระบี่    957304
1     กาญจนบุรี   2382065
2     กาฬสินธุ์   3109735
3     กำแพงเพชร   2585490
4       ขอนแก่น   5270060
..          ...       ...
71   อำนาจเจริญ   1155587
72     อุดรธานี   4580373
73    อุตรดิตถ์   1795748
74    อุทัยธานี   1574061
75  อุบลราชธานี   4883992

[76 rows x 2 columns]

In [28]:
df_2557['Year'] = 2557
df_2557

       Province total_OPD  Year
0        กระบี่    957304  2557
1     กาญจนบุรี   2382065  2557
2     กาฬสินธุ์   3109735  2557
3     กำแพงเพชร   2585490  2557
4       ขอนแก่น   5270060  2557
..          ...       ...   ...
71   อำนาจเจริญ   1155587  2557
72     อุดรธานี   4580373  2557
73    อุตรดิตถ์   1795748  2557
74    อุทัยธานี   1574061  2557
75  อุบลราชธานี   4883992  2557

[76 rows x 3 columns]

In [29]:
new_df = pd.concat([new_df, df_2557], ignore_index=True)
new_df

        Province total_OPD  Year
0         กระบี่   1110208  2556
1      กาญจนบุรี   1780883  2556
2      กาฬสินธุ์   3407362  2556
3      กำแพงเพชร   2511719  2556
4        ขอนแก่น   7250904  2556
..           ...       ...   ...
147   อำนาจเจริญ   1155587  2557
148     อุดรธานี   4580373  2557
149    อุตรดิตถ์   1795748  2557
150    อุทัยธานี   1574061  2557
151  อุบลราชธานี   4883992  2557

[152 rows x 3 columns]

In [30]:
new_df.loc[new_df['Province']=='พระนครศรีอยุธยา']

            Province total_OPD  Year
31   พระนครศรีอยุธยา   3116985  2556
107  พระนครศรีอยุธยา   2825524  2557

### OPD2558
- Data is Missing...

### OPD2559

In [31]:
df_opd_2559 = pd.read_excel('../add_data/dataset/OPD/OPD2559.xls')
df_opd_2559

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2559 (อัตราต่อประชากร 1,000 คน)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,ทั่วประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,NaN,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
2,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,NaN,รวม,221786620,3732.862594,1388593,3002.155527,3286276,4063.808555,3662938,3720.308883,...,1414471,3762.021027,5560716,3537.616691,2108208,4603.315458,1868279,5658.913578,6771582,3654.944789
4,1,"โรคติดเชื้อและปรสิต (A00-A99, B00-B99 )Certain...",6593971,110.982293,37150,80.318767,92007,113.775846,129515,131.543533,...,38421,102.187044,164662,104.754683,45472,99.289046,34065,103.180998,226247,122.116264
5,2,"เนื้องอก (รวมมะเร็ง) (C00-C97, D00-D48) Neoplasms",2586374,43.530934,10092,21.819031,31074,38.426105,28449,28.894583,...,7838,20.846465,65138,41.439497,23946,52.286583,12549,38.010226,80971,43.703899
6,3,โรคเลือดและอวัยวะสร้างเลือด และความผิดปกติเกี่...,1582891,26.641439,6067,13.11693,26361,32.59801,23917,24.291601,...,15507,41.243447,33221,21.134538,16960,37.032508,7825,23.701491,53073,28.646022
7,4,โรคเกี่ยวกับต่อมไร้ท่อ โภชนการ และเมตะบอลิสัม(...,33695849,567.130579,236663,511.668382,465007,575.027607,580901,589.99938,...,247476,658.203608,959888,610.661615,376762,822.667563,298715,904.791185,1046491,564.840953
8,5,ภาวะแปรปรวนทางจิตและพฤติกรรม (F00-F99) Mental ...,4536752,76.3575,22155,47.899389,43191,53.409986,69934,71.029344,...,25451,67.69117,79635,50.6622,52663,114.990742,32157,97.401771,146825,79.248434
9,6,โรคระบบประสาท (G00-G99) Diseases of the mervou...,3781151,63.640075,18104,39.141076,54868,67.849763,52248,53.066336,...,17452,46.416498,87115,55.420827,29439,64.280661,42428,128.512061,112539,60.742649
10,7,โรคตารวมส่วนประกอบของตา (H00-H59) Diseases of ...,6204240,104.42278,28240,61.055235,92898,114.877657,74703,75.873038,...,32225,85.707751,210324,133.803937,64328,140.461509,39902,120.860947,155490,83.925346
11,8,โรคหูและปุ่มกกหู (H60-H95) Diseaese of the ear...,1844947,31.05207,10874,23.509725,28816,35.633863,18785,19.079221,...,7695,20.466133,34392,21.879505,11265,24.597359,45146,136.744733,59993,32.381075
12,9,โรคระบบไหลเวียนเลือด (I00-I99) Diseases of the...,36298204,610.930488,237709,513.929847,555294,686.676502,487141,494.770861,...,187993,499.99867,915366,582.337605,425007,928.011512,368928,1117.462471,964608,520.644804
13,10,โรคระบบหายใจ (J00-J99) Diseases of the respira...,29682626,499.58453,205119,443.469857,492454,608.968564,472928,480.33525,...,202336,538.146266,726602,462.249711,189971,414.805579,200842,608.33929,918169,495.579468
14,11,โรคระบบย่อยอาหาร รวมโรคในช่องปาก (K00-K93) Dis...,26167346,440.419296,151555,327.663816,431970,534.174056,505035,512.945127,...,173426,461.255309,626302,398.44085,206484,450.862054,215926,654.027891,870673,469.943618
15,12,โรคผิวหนังและเนื้อเยื้อใต้ผิวหนัง (L00-L99) Di...,6806630,114.56153,38601,83.455847,127402,157.5453,116200,118.019986,...,41138,109.413357,138418,88.058773,42590,92.99614,55328,167.585447,199207,107.52149
16,13,โรคระบบกล้ามเนื้อ รวมโครงร่าง และเนื้อยึดเสริม...,26055746,438.540971,107132,231.620731,323718,400.309645,601810,611.235868,...,189576,504.208922,711573,452.688561,262155,572.420826,331464,1003.986091,904065,487.966868
17,14,โรคระบบสืบพันธุ์ร่วมปัสสาวะ (N00-N99) Diseases...,6458019,108.694102,50195,108.522221,97869,121.024795,89676,91.080553,...,41258,109.732517,148570,94.517273,59554,130.037382,41266,124.992428,209493,113.073333
18,15,ภาวะแทรกในการตั้งครรภ์ การคลอด และระยะหลังคลอด...,937002,15.770562,5349,11.564605,22210,27.464884,10286,10.447105,...,5279,14.040379,20514,13.050598,4664,10.18394,5412,16.392648,22161,11.961345
19,16,ภาวะผิดปกติของทารกที่เกิดขึ้นในระยะปริกำเนิด (...,275828,4.642426,645,1.394498,5645,6.980606,4426,4.495322,...,1727,4.593244,4935,3.139549,2043,4.460932,3628,10.989011,8382,4.524164
20,17,รูปร่างผิดปกติแต่กำเนิด การพิการจนผิดรูปแต่กำ...,288080,4.848638,1886,4.077556,3865,4.779459,2413,2.450794,...,675,1.795275,8347,5.310195,2015,4.399794,1574,4.767559,10809,5.834131
21,18,"อาการ, อาการแสดงและสิ่งผิดปกติที่พบได้จากการตร...",21862779,367.969673,168099,363.432152,293705,363.195572,311210,316.084337,...,135945,361.568352,513898,326.931665,243504,531.695984,93254,282.461199,633062,341.693663
22,19,"การเป็นพิษและผลที่ตามมา (X40-X49, X60-X69, X85...",72026,1.212261,1057,2.285247,990,1.224234,1171,1.189341,...,369,0.981417,1077,0.685166,368,0.803536,271,0.820844,1240,0.669287
23,20,"อุบัติเหตุจากการขนส่งและผลที่ตามมา (V01-V99, Y...",1413341,23.787764,10722,23.181099,22135,27.372139,19852,20.162933,...,8415,22.381093,28592,18.189661,10484,22.892029,8162,24.722246,34690,18.723842
24,21,สาเหตุจากภายนอกอื่นๆ ที่ทำให้ป่วยหรือตาย (W00-...,4642818,78.142683,41179,89.029516,74797,92.493962,62338,63.314371,...,34269,91.144109,82147,52.260284,38534,84.13978,29437,89.163042,113394,61.204134

In [32]:
df_opd_2559 = df_opd_2559.loc[0:3]
df_opd_2559

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2559 (อัตราต่อประชากร 1,000 คน)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,ทั่วประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,NaN,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
2,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,NaN,รวม,221786620,3732.862594,1388593,3002.155527,3286276,4063.808555,3662938,3720.308883,...,1414471,3762.021027,5560716,3537.616691,2108208,4603.315458,1868279,5658.913578,6771582,3654.944789

In [33]:
len(df_opd_2559.columns)

156

In [34]:
df_opd_2559 = df_opd_2559.drop(columns=[f'Unnamed: {i}' for i in range(3,len(df_opd_2559.columns),2)])
df_opd_2559

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2559 (อัตราต่อประชากร 1,000 คน)",Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,ทั่วประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,...,สุราษฎร์ธานี,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
2,NaN,NaN,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,...,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน
3,NaN,รวม,221786620,1388593,3286276,3662938,2868089,6707144,1866094,2315007,...,4067177,4034125,2013150,1706513,1483757,1414471,5560716,2108208,1868279,6771582

In [35]:
df_opd_2559 = df_opd_2559.loc[1:3:2]
df_opd_2559

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2559 (อัตราต่อประชากร 1,000 คน)",Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
1,กลุ่มโรค,สาเหตุการป่วย,ทั่วประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,...,สุราษฎร์ธานี,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,NaN,รวม,221786620,1388593,3286276,3662938,2868089,6707144,1866094,2315007,...,4067177,4034125,2013150,1706513,1483757,1414471,5560716,2108208,1868279,6771582

In [36]:
df_opd_2559.columns

Index(['จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2559 (อัตราต่อประชากร 1,000 คน)',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 8',
       'Unnamed: 10', 'Unnamed: 12', 'Unnamed: 14', 'Unnamed: 16',
       'Unnamed: 18', 'Unnamed: 20', 'Unnamed: 22', 'Unnamed: 24',
       'Unnamed: 26', 'Unnamed: 28', 'Unnamed: 30', 'Unnamed: 32',
       'Unnamed: 34', 'Unnamed: 36', 'Unnamed: 38', 'Unnamed: 40',
       'Unnamed: 42', 'Unnamed: 44', 'Unnamed: 46', 'Unnamed: 48',
       'Unnamed: 50', 'Unnamed: 52', 'Unnamed: 54', 'Unnamed: 56',
       'Unnamed: 58', 'Unnamed: 60', 'Unnamed: 62', 'Unnamed: 64',
       'Unnamed: 66', 'Unnamed: 68', 'Unnamed: 70', 'Unnamed: 72',
       'Unnamed: 74', 'Unnamed: 76', 'Unnamed: 78', 'Unnamed: 80',
       'Unnamed: 82', 'Unnamed: 84', 'Unnamed: 86', 'Unnamed: 88',
       'Unnamed: 90', 'Unnamed: 92', 'Unnamed: 94', 'Unnamed: 96',
       'Unnamed: 98', 'Unnamed: 100', 'Unnamed: 102', 'Unnamed: 104',
       'Unnamed: 106', 'Unnamed: 108', 'Unnamed: 110', 'Unnamed: 112',
       'Unnamed: 114', 'Unnamed: 116', 'Unnamed: 118', 'Unnamed: 120',
       'Unnamed: 122', 'Unnamed: 124', 'Unnamed: 126', 'Unnamed: 128',
       'Unnamed: 130', 'Unnamed: 132', 'Unnamed: 134', 'Unnamed: 136',
       'Unnamed: 138', 'Unnamed: 140', 'Unnamed: 142', 'Unnamed: 144',
       'Unnamed: 146', 'Unnamed: 148', 'Unnamed: 150', 'Unnamed: 152',
       'Unnamed: 154'],
      dtype='object')

In [37]:
df_opd_2559 = df_opd_2559.drop(columns=df_opd_2559.columns[0])
df_opd_2559

,Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,Unnamed: 18,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
1,สาเหตุการป่วย,ทั่วประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,ชลบุรี,...,สุราษฎร์ธานี,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,รวม,221786620,1388593,3286276,3662938,2868089,6707144,1866094,2315007,5231241,...,4067177,4034125,2013150,1706513,1483757,1414471,5560716,2108208,1868279,6771582

In [38]:
df_opd_2559 = df_opd_2559.drop(columns=['Unnamed: 1', 'Unnamed: 2'])
df_opd_2559

,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,Unnamed: 18,Unnamed: 20,Unnamed: 22,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
1,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,ชลบุรี,ชัยนาท,ชัยภูมิ,...,สุราษฎร์ธานี,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,1388593,3286276,3662938,2868089,6707144,1866094,2315007,5231241,1825641,3733495,...,4067177,4034125,2013150,1706513,1483757,1414471,5560716,2108208,1868279,6771582

In [39]:
prov_2559 = df_opd_2559.loc[1].values
prov_2559

array(['กระบี่', 'กาญจนบุรี', 'กาฬสินธุ์', 'กำแพงเพชร', 'ขอนแก่น',
       'จันทบุรี', 'ฉะเชิงเทรา', 'ชลบุรี', 'ชัยนาท', 'ชัยภูมิ', 'ชุมพร',
       'เชียงราย', 'เชียงใหม่', 'ตรัง', 'ตราด', 'ตาก', 'นครนายก',
       'นครปฐม', 'นครพนม', 'นครราชสีมา', 'นครศรีธรรมราช', 'นครสวรรค์',
       'นนทบุรี', 'นราธิวาส', 'น่าน', 'บึงกาฬ', 'บุรีรัมย์', 'ปทุมธานี',
       'ประจวบคีรีขันธ์', 'ปราจีนบุรี', 'ปัตตานี', 'พระนครศรีอยุธยา',
       'พะเยา', 'พังงา', 'พัทลุง', 'พิจิตร', 'พิษณุโลก', 'เพชรบุรี',
       'เพชรบูรณ์', 'แพร่', 'ภูเก็ต', 'มหาสารคาม', 'มุกดาหาร',
       'แม่ฮ่องสอน', 'ยโสธร', 'ยะลา', 'ร้อยเอ็ด', 'ระนอง', 'ระยอง',
       'ราชบุรี', 'ลพบุรี', 'ลำปาง', 'ลำพูน', 'เลย', 'ศรีสะเกษ', 'สกลนคร',
       'สงขลา', 'สตูล', 'สมุทรปราการ', 'สมุทรสงคราม', 'สมุทรสาคร',
       'สระแก้ว', 'สระบุรี', 'สิงห์บุรี', 'สุโขทัย', 'สุพรรณบุรี',
       'สุราษฎร์ธานี', 'สุรินทร์', 'หนองคาย', 'หนองบัวลำภู', 'อ่างทอง',
       'อำนาจเจริญ', 'อุดรธานี', 'อุตรดิตถ์', 'อุทัยธานี', 'อุบลราชธานี'],
      dtype=object)

In [40]:
len(prov_2559)

76

In [41]:
no_patient_2559 = df_opd_2559.loc[3].values
no_patient_2559

array([1388593, 3286276, 3662938, 2868089, 6707144, 1866094, 2315007,
       5231241, 1825641, 3733495, 1678592, 5246422, 7639537, 2322405,
       901935, 2165398, 1180026, 4096379, 2397278, 9583138, 5587451,
       4579642, 3548300, 2111062, 2182606, 1382231, 5634866, 2392198,
       2087310, 2091120, 2571753, 3265561, 2244327, 956303, 2158910,
       2467386, 3778972, 2251035, 3233202, 2128830, 1138548, 3047458,
       1175352, 1009582, 1949664, 1544464, 5020128, 628785, 2301612,
       3079399, 1911667, 3180271, 1947868, 2608961, 5018186, 4371105,
       4765007, 982346, 2854353, 990338, 2666789, 1667242, 2735240,
       1080538, 2409872, 3925174, 4067177, 4034125, 2013150, 1706513,
       1483757, 1414471, 5560716, 2108208, 1868279, 6771582], dtype=object)

In [42]:
df_2559 = pd.DataFrame(data={'Province':prov_2559,
                            'total_OPD': no_patient_2559})
df_2559

       Province total_OPD
0        กระบี่   1388593
1     กาญจนบุรี   3286276
2     กาฬสินธุ์   3662938
3     กำแพงเพชร   2868089
4       ขอนแก่น   6707144
..          ...       ...
71   อำนาจเจริญ   1414471
72     อุดรธานี   5560716
73    อุตรดิตถ์   2108208
74    อุทัยธานี   1868279
75  อุบลราชธานี   6771582

[76 rows x 2 columns]

In [43]:
df_2559['Year'] = 2559
df_2559

       Province total_OPD  Year
0        กระบี่   1388593  2559
1     กาญจนบุรี   3286276  2559
2     กาฬสินธุ์   3662938  2559
3     กำแพงเพชร   2868089  2559
4       ขอนแก่น   6707144  2559
..          ...       ...   ...
71   อำนาจเจริญ   1414471  2559
72     อุดรธานี   5560716  2559
73    อุตรดิตถ์   2108208  2559
74    อุทัยธานี   1868279  2559
75  อุบลราชธานี   6771582  2559

[76 rows x 3 columns]

In [44]:
new_df = pd.concat([new_df, df_2559], ignore_index=True)
new_df

        Province total_OPD  Year
0         กระบี่   1110208  2556
1      กาญจนบุรี   1780883  2556
2      กาฬสินธุ์   3407362  2556
3      กำแพงเพชร   2511719  2556
4        ขอนแก่น   7250904  2556
..           ...       ...   ...
223   อำนาจเจริญ   1414471  2559
224     อุดรธานี   5560716  2559
225    อุตรดิตถ์   2108208  2559
226    อุทัยธานี   1868279  2559
227  อุบลราชธานี   6771582  2559

[228 rows x 3 columns]

### OPD2560

In [45]:
df_opd_2560 = pd.read_excel('../add_data/dataset/OPD/OPD2560.xlsx')
df_opd_2560

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2560 (อัตราต่อประชากร 1,000 คน)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,ทั่วประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,NaN,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
2,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,NaN,รวม,220063238,3691.191877,1289648,2766.505422,3280597,4045.744355,3583003,4418.681771,...,1487820,1834.83048,5501699,6784.883262,2122035,2616.966096,1823765,2249.129337,6691617,8252.330813
4,1,"โรคติดเชื้อและปรสิต (A00-A99, B00-B99 )Certain...",6066428,101.754159,31610,67.808609,86197,106.301087,112515,114.238401,...,35287,93.639459,155215,98.538383,42889,93.92506,30701,93.12759,207503,111.633434
5,2,"เนื้องอก (รวมมะเร็ง) (C00-C97, D00-D48) Neoplasms",2884173,48.377167,10454,22.425536,34140,42.102615,31454,31.935783,...,9016,23.925337,103163,65.493124,25580,56.019096,11571,35.099161,84100,45.244511
6,3,โรคเลือดและอวัยวะสร้างเลือด และความผิดปกติเกี่...,1614757,27.084841,6521,13.988609,26071,32.151648,23337,23.694455,...,18676,49.559626,32992,20.945001,18052,39.533101,8344,25.310466,56913,30.618322
7,4,โรคเกี่ยวกับต่อมไร้ท่อ โภชนการ และเมตะบอลิสัม(...,35172819,589.965071,238230,511.042228,477534,588.911252,593098,602.182526,...,303794,806.163906,951532,604.080949,399044,873.889144,299855,909.572112,1042377,560.782854
8,5,ภาวะแปรปรวนทางจิตและพฤติกรรม (F00-F99) Mental ...,5345279,89.658094,23555,50.529319,49804,61.419995,72151,73.256142,...,34983,92.832748,83585,53.064013,60226,131.892342,37699,114.355135,181222,97.494659
9,6,โรคระบบประสาท (G00-G99) Diseases of the mervou...,3803122,63.790996,17728,38.029453,54241,66.891855,49927,50.691736,...,18557,49.243842,89290,56.685837,29743,65.135887,39545,119.954742,108090,58.150764
10,7,โรคตารวมส่วนประกอบของตา (H00-H59) Diseases of ...,5978510,100.279482,28142,60.369183,91278,112.56715,77329,78.513454,...,33679,89.372384,167670,106.445451,61151,133.918052,35573,107.906184,149373,80.360385
11,8,โรคหูและปุ่มกกหู (H60-H95) Diseaese of the ear...,1755443,29.444613,9685,20.775906,27086,33.403381,17901,18.175191,...,7424,19.700721,33214,21.085938,10608,23.231062,37784,114.612972,55020,29.599917
12,9,โรคระบบไหลเวียนเลือด (I00-I99) Diseases of the...,38055976,638.325196,239080,512.865616,596772,735.959629,533134,541.300053,...,229264,608.387136,952921,604.962756,440136,963.878852,361090,1095.320719,990812,533.041674
13,10,โรคระบบหายใจ (J00-J99) Diseases of the respira...,26699932,447.846596,165441,354.897944,445799,549.774565,440831,447.583241,...,178764,474.377652,678326,430.635873,156536,342.807087,175539,532.475293,867646,466.780253
14,11,โรคระบบย่อยอาหาร รวมโรคในช่องปาก (K00-K93) Dis...,26350895,441.992086,142782,306.290691,459993,567.279091,485384,492.818662,...,174078,461.942633,623291,395.696854,214013,468.679237,208339,631.969933,876912,471.765219
15,12,โรคผิวหนังและเนื้อเยื้อใต้ผิวหนัง (L00-L99) Di...,6462857,108.403591,34082,73.111452,117846,145.331715,105420,107.034726,...,38437,101.998466,132701,84.24535,38927,85.248451,54516,165.367372,191878,103.227424
16,13,โรคระบบกล้ามเนื้อ รวมโครงร่าง และเนื้อยึดเสริม...,25807588,432.879022,103261,221.511697,335953,414.308723,586762,595.749477,...,191537,508.272764,692154,439.414591,286210,626.787552,359017,1089.032536,895211,481.609801
17,14,โรคระบบสืบพันธุ์ร่วมปัสสาวะ (N00-N99) Diseases...,6175344,103.581043,43250,92.778308,88838,109.558058,84672,85.968927,...,40562,107.637479,160438,101.854209,54226,118.752601,29255,88.741332,194771,104.783814
18,15,ภาวะแทรกในการตั้งครรภ์ การคลอด และระยะหลังคลอด...,963246,16.156837,5534,11.871333,27469,33.87571,12148,12.334072,...,5165,13.706119,20912,13.276002,5968,13.069663,4525,13.726014,22592,12.15415
19,16,ภาวะผิดปกติของทารกที่เกิดขึ้นในระยะปริกำเนิด (...,273009,4.579268,652,1.398646,4986,6.148906,4264,4.329312,...,2207,5.856613,4992,3.169176,1533,3.357204,2155,6.536919,9332,5.020473
20,17,รูปร่างผิดปกติแต่กำเนิด การพิการจนผิดรูปแต่กำ...,295710,4.960039,1904,4.084391,4275,5.272076,2429,2.466205,...,944,2.505049,8852,5.6197,1990,4.358014,1175,3.564213,9847,5.297535
21,18,"อาการ, อาการแสดงและสิ่งผิดปกติที่พบได้จากการตร...",20271624,340.022507,135538,290.751129,256114,315.848539,262515,266.535962,...,123101,326.667357,495201,314.378802,223873,490.272212,89148,270.419152,611198,328.815159
22,19,"การเป็นพิษและผลที่ตามมา (X40-X49, X60-X69, X85...",69681,1.168782,1027,2.203083,921,1.135809,1757,1.783912,...,560,1.486046,860,0.545972,345,0.755535,329,0.99798,1047,0.56327
23,20,"อุบัติเหตุจากการขนส่งและผลที่ตามมา (V01-V99, Y...",1328552,22.284232,10854,23.283601,21262,26.221025,20792,21.110473,...,7612,20.199608,28625,18.172607,9819,21.503186,7363,22.334727,29895,16.083052
24,21,สาเหตุจากภายนอกอื่นๆ ที่ทำให้ป่วยหรือตาย (W00-...,4688293,78.638255,40318,86.48869,74018,91.281528,65183,66.181413,...,34173,90.683289,85765,54.447988,41166,90.151764,30242,91.735271,105878,56.960742

In [46]:
df_opd_2560 = df_opd_2560.loc[0:3]
df_opd_2560

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2560 (อัตราต่อประชากร 1,000 คน)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,ทั่วประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,NaN,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
2,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,NaN,รวม,220063238,3691.191877,1289648,2766.505422,3280597,4045.744355,3583003,4418.681771,...,1487820,1834.83048,5501699,6784.883262,2122035,2616.966096,1823765,2249.129337,6691617,8252.330813

In [47]:
len(df_opd_2560.columns)

156

In [48]:
df_opd_2560 = df_opd_2560.drop(columns=[f'Unnamed: {i}' for i in range(3,len(df_opd_2560.columns),2)])
df_opd_2560

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2560 (อัตราต่อประชากร 1,000 คน)",Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,ทั่วประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,...,สุราษฎร์ธานี,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
2,NaN,NaN,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,...,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน
3,NaN,รวม,220063238,1289648,3280597,3583003,2857414,6993546,1901261,2370599,...,4253070,4476725,1949392,1625094,1517288,1487820,5501699,2122035,1823765,6691617

In [49]:
df_opd_2560 = df_opd_2560.loc[1:3:2]
df_opd_2560

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2560 (อัตราต่อประชากร 1,000 คน)",Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
1,กลุ่มโรค,สาเหตุการป่วย,ทั่วประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,...,สุราษฎร์ธานี,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,NaN,รวม,220063238,1289648,3280597,3583003,2857414,6993546,1901261,2370599,...,4253070,4476725,1949392,1625094,1517288,1487820,5501699,2122035,1823765,6691617

In [50]:
df_opd_2560.columns

Index(['จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2560 (อัตราต่อประชากร 1,000 คน)',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 8',
       'Unnamed: 10', 'Unnamed: 12', 'Unnamed: 14', 'Unnamed: 16',
       'Unnamed: 18', 'Unnamed: 20', 'Unnamed: 22', 'Unnamed: 24',
       'Unnamed: 26', 'Unnamed: 28', 'Unnamed: 30', 'Unnamed: 32',
       'Unnamed: 34', 'Unnamed: 36', 'Unnamed: 38', 'Unnamed: 40',
       'Unnamed: 42', 'Unnamed: 44', 'Unnamed: 46', 'Unnamed: 48',
       'Unnamed: 50', 'Unnamed: 52', 'Unnamed: 54', 'Unnamed: 56',
       'Unnamed: 58', 'Unnamed: 60', 'Unnamed: 62', 'Unnamed: 64',
       'Unnamed: 66', 'Unnamed: 68', 'Unnamed: 70', 'Unnamed: 72',
       'Unnamed: 74', 'Unnamed: 76', 'Unnamed: 78', 'Unnamed: 80',
       'Unnamed: 82', 'Unnamed: 84', 'Unnamed: 86', 'Unnamed: 88',
       'Unnamed: 90', 'Unnamed: 92', 'Unnamed: 94', 'Unnamed: 96',
       'Unnamed: 98', 'Unnamed: 100', 'Unnamed: 102', 'Unnamed: 104',
       'Unnamed: 106', 'Unnamed: 108', 'Unnamed: 110', 'Unnamed: 112',
       'Unnamed: 114', 'Unnamed: 116', 'Unnamed: 118', 'Unnamed: 120',
       'Unnamed: 122', 'Unnamed: 124', 'Unnamed: 126', 'Unnamed: 128',
       'Unnamed: 130', 'Unnamed: 132', 'Unnamed: 134', 'Unnamed: 136',
       'Unnamed: 138', 'Unnamed: 140', 'Unnamed: 142', 'Unnamed: 144',
       'Unnamed: 146', 'Unnamed: 148', 'Unnamed: 150', 'Unnamed: 152',
       'Unnamed: 154'],
      dtype='object')

In [51]:
df_opd_2560 = df_opd_2560.drop(columns=df_opd_2560.columns[0])
df_opd_2560

,Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,Unnamed: 18,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
1,สาเหตุการป่วย,ทั่วประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,ชลบุรี,...,สุราษฎร์ธานี,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,รวม,220063238,1289648,3280597,3583003,2857414,6993546,1901261,2370599,4954613,...,4253070,4476725,1949392,1625094,1517288,1487820,5501699,2122035,1823765,6691617

In [52]:
df_opd_2560 = df_opd_2560.drop(columns=['Unnamed: 1', 'Unnamed: 2'])
df_opd_2560

,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,Unnamed: 18,Unnamed: 20,Unnamed: 22,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
1,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,ชลบุรี,ชัยนาท,ชัยภูมิ,...,สุราษฎร์ธานี,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,1289648,3280597,3583003,2857414,6993546,1901261,2370599,4954613,1833267,3668092,...,4253070,4476725,1949392,1625094,1517288,1487820,5501699,2122035,1823765,6691617

In [53]:
prov_2560 = df_opd_2560.loc[1].values
prov_2560

array(['กระบี่', 'กาญจนบุรี', 'กาฬสินธุ์', 'กำแพงเพชร', 'ขอนแก่น',
       'จันทบุรี', 'ฉะเชิงเทรา', 'ชลบุรี', 'ชัยนาท', 'ชัยภูมิ', 'ชุมพร',
       'เชียงราย', 'เชียงใหม่', 'ตรัง', 'ตราด', 'ตาก', 'นครนายก',
       'นครปฐม', 'นครพนม', 'นครราชสีมา', 'นครศรีธรรมราช', 'นครสวรรค์',
       'นนทบุรี', 'นราธิวาส', 'น่าน', 'บึงกาฬ', 'บุรีรัมย์', 'ปทุมธานี',
       'ประจวบคีรีขันธ์', 'ปราจีนบุรี', 'ปัตตานี', 'พระนครศรีอยุธยา',
       'พะเยา', 'พังงา', 'พัทลุง', 'พิจิตร', 'พิษณุโลก', 'เพชรบุรี',
       'เพชรบูรณ์', 'แพร่', 'ภูเก็ต', 'มหาสารคาม', 'มุกดาหาร',
       'แม่ฮ่องสอน', 'ยโสธร', 'ยะลา', 'ร้อยเอ็ด', 'ระนอง', 'ระยอง',
       'ราชบุรี', 'ลพบุรี', 'ลำปาง', 'ลำพูน', 'เลย', 'ศรีสะเกษ', 'สกลนคร',
       'สงขลา', 'สตูล', 'สมุทรปราการ', 'สมุทรสงคราม', 'สมุทรสาคร',
       'สระแก้ว', 'สระบุรี', 'สิงห์บุรี', 'สุโขทัย', 'สุพรรณบุรี',
       'สุราษฎร์ธานี', 'สุรินทร์', 'หนองคาย', 'หนองบัวลำภู', 'อ่างทอง',
       'อำนาจเจริญ', 'อุดรธานี', 'อุตรดิตถ์', 'อุทัยธานี', 'อุบลราชธานี'],
      dtype=object)

In [54]:
len(prov_2560)

76

In [55]:
no_patient_2560 = df_opd_2560.loc[3].values
no_patient_2560

array([1289648, 3280597, 3583003, 2857414, 6993546, 1901261, 2370599,
       4954613, 1833267, 3668092, 1703310, 5130937, 7641399, 2371775,
       904008, 2182435, 1098107, 3799615, 2131340, 9848592, 5415132,
       4563848, 3515044, 991874, 2232323, 1287377, 5397627, 2464414,
       2063523, 1919380, 2112067, 3114141, 2180685, 969584, 2204748,
       2425813, 3816485, 2360836, 3137470, 2090809, 1204564, 2911199,
       1113350, 955600, 1902717, 1667682, 5115873, 617303, 2295099,
       3457151, 2825181, 3457011, 1967010, 2513405, 5046481, 4226267,
       4890485, 1002261, 2882801, 1015314, 2417479, 1772991, 2588588,
       1095736, 2102276, 3764171, 4253070, 4476725, 1949392, 1625094,
       1517288, 1487820, 5501699, 2122035, 1823765, 6691617], dtype=object)

In [56]:
df_2560 = pd.DataFrame(data={'Province':prov_2560,
                            'total_OPD': no_patient_2560})
df_2560

       Province total_OPD
0        กระบี่   1289648
1     กาญจนบุรี   3280597
2     กาฬสินธุ์   3583003
3     กำแพงเพชร   2857414
4       ขอนแก่น   6993546
..          ...       ...
71   อำนาจเจริญ   1487820
72     อุดรธานี   5501699
73    อุตรดิตถ์   2122035
74    อุทัยธานี   1823765
75  อุบลราชธานี   6691617

[76 rows x 2 columns]

In [57]:
df_2560['Year'] = 2560
df_2560

       Province total_OPD  Year
0        กระบี่   1289648  2560
1     กาญจนบุรี   3280597  2560
2     กาฬสินธุ์   3583003  2560
3     กำแพงเพชร   2857414  2560
4       ขอนแก่น   6993546  2560
..          ...       ...   ...
71   อำนาจเจริญ   1487820  2560
72     อุดรธานี   5501699  2560
73    อุตรดิตถ์   2122035  2560
74    อุทัยธานี   1823765  2560
75  อุบลราชธานี   6691617  2560

[76 rows x 3 columns]

In [58]:
new_df = pd.concat([new_df, df_2560], ignore_index=True)
new_df

        Province total_OPD  Year
0         กระบี่   1110208  2556
1      กาญจนบุรี   1780883  2556
2      กาฬสินธุ์   3407362  2556
3      กำแพงเพชร   2511719  2556
4        ขอนแก่น   7250904  2556
..           ...       ...   ...
299   อำนาจเจริญ   1487820  2560
300     อุดรธานี   5501699  2560
301    อุตรดิตถ์   2122035  2560
302    อุทัยธานี   1823765  2560
303  อุบลราชธานี   6691617  2560

[304 rows x 3 columns]

### OPD2561

In [59]:
df_opd_2561 = pd.read_excel('../add_data/dataset/OPD/OPD2561.xlsx')
df_opd_2561

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2560 (อัตราต่อประชากร 1,000 คน)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,ทั่วประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,NaN,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
2,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,รวม,NaN,202989132,3392.69608,1246366,2652.706094,3214004,3942.702085,3356022,3407.471411,...,1368374,3624.054176,5049921,3199.386342,1785663,3922.714961,1732595,5262.966844,6340921,3400.789147
4,1,"โรคติดเชื้อและปรสิต (A00-A99, B00-B99 )Certain...",5632409,94.138301,32289,68.722371,84572,103.746666,94323,95.769016,...,33855,89.66288,139861,88.609183,34195,75.119011,33746,102.507556,196281,105.270243
5,2,"เนื้องอก (รวมมะเร็ง) (C00-C97, D00-D48) Neoplasms",2596103,43.390444,10154,21.61129,34986,42.918234,29515,29.967479,...,9150,24.233211,69526,44.04832,18432,40.491113,11569,35.142237,87981,47.186336
6,3,โรคเลือดและอวัยวะสร้างเลือด และความผิดปกติเกี่...,1502499,25.112293,6448,13.723616,26828,32.910604,22427,22.770817,...,15084,39.949044,30540,19.348671,13741,30.186002,8119,24.662444,57318,30.741028
7,4,โรคเกี่ยวกับต่อมไร้ท่อ โภชนการ และเมตะบอลิสัม(...,33354841,557.482251,234466,499.026279,481129,590.213426,591731,600.802517,...,277552,735.07936,904559,573.084947,343900,755.473835,278994,847.478015,1046919,561.487956
8,5,ภาวะแปรปรวนทางจิตและพฤติกรรม (F00-F99) Mental ...,5288986,88.398437,24147,51.393326,70945,87.030072,73617,74.745584,...,35562,94.183765,78439,49.695167,50144,110.15551,38247,116.179888,202420,108.562737
9,6,โรคระบบประสาท (G00-G99) Diseases of the mervou...,3470766,58.009284,21017,44.731583,55480,68.058755,44962,45.651289,...,17145,45.407475,81926,51.904362,22894,50.293161,38881,118.10574,104179,55.873715
10,7,โรคตารวมส่วนประกอบของตา (H00-H59) Diseases of ...,5397269,90.208245,27500,58.529692,93942,115.241088,74602,75.745684,...,30100,79.717994,145420,92.131097,47872,105.164418,36672,111.395635,140282,75.236626
11,8,โรคหูและปุ่มกกหู (H60-H95) Diseaese of the ear...,1543608,25.799375,8768,18.661394,24919,30.568784,14653,14.877637,...,6825,18.075592,28059,17.776829,7640,16.783426,32342,98.242736,50600,27.138003
12,9,โรคระบบไหลเวียนเลือด (I00-I99) Diseases of the...,36184058,604.768889,232459,494.754675,603775,740.666456,567884,576.589931,...,219274,580.73367,910650,576.943911,383708,842.923392,345144,1048.41664,997769,535.127624
13,10,โรคระบบหายใจ (J00-J99) Diseases of the respira...,22620684,378.07495,147444,313.812794,384514,471.693299,357427,362.906526,...,155989,413.12725,564574,357.686852,119091,261.61714,145013,440.494525,753739,404.248438
14,11,โรคระบบย่อยอาหาร รวมโรคในช่องปาก (K00-K93) Dis...,24815530,414.758911,142892,304.124534,443066,543.520556,436220,442.90746,...,156866,415.44993,612095,387.793865,183583,403.2921,200376,608.666333,823811,441.829745
15,12,โรคผิวหนังและเนื้อเยื้อใต้ผิวหนัง (L00-L99) Di...,5751457,96.128031,32509,69.190609,109345,134.136348,92595,94.014525,...,33048,87.525591,113871,72.143173,30986,68.069533,50905,154.630094,171492,91.975303
16,13,โรคระบบกล้ามเนื้อ รวมโครงร่าง และเนื้อยึดเสริม...,23364494,390.506755,93581,199.173348,334049,409.786574,549030,557.446891,...,180736,478.668153,634924,402.257218,254182,558.382816,339951,1032.642275,784005,420.480825
17,14,โรคระบบสืบพันธุ์ร่วมปัสสาวะ (N00-N99) Diseases...,5494785,91.838097,38908,82.809936,86540,106.160863,69288,70.350218,...,36182,95.825796,145011,91.871974,41587,91.357634,28958,87.963427,185286,99.373359
18,15,ภาวะแทรกในการตั้งครรภ์ การคลอด และระยะหลังคลอด...,877504,14.666324,4255,9.05614,24691,30.28909,10628,10.790932,...,4199,11.120793,18588,11.77646,3015,6.623302,4092,12.429945,22099,11.852228
19,16,ภาวะผิดปกติของทารกที่เกิดขึ้นในระยะปริกำเนิด (...,236881,3.959154,552,1.174851,4833,5.928766,3461,3.514059,...,1951,5.167103,4647,2.944115,752,1.651981,2430,7.381419,8980,4.816191
20,17,รูปร่างผิดปกติแต่กำเนิด การพิการจนผิดรูปแต่กำ...,268473,4.487173,1912,4.06941,4551,5.58283,1894,1.923036,...,957,2.534555,7497,4.749738,1565,3.437966,1037,3.150013,10154,5.445836
21,18,"อาการ, อาการแสดงและสิ่งผิดปกติที่พบได้จากการตร...",18460118,308.536567,134561,286.39323,242253,297.17804,232132,235.690694,...,110350,292.255172,436562,276.584624,189789,416.925338,92676,281.514558,548357,294.097109
22,19,"การเป็นพิษและผลที่ตามมา (X40-X49, X60-X69, X85...",67066,1.12092,1052,2.239027,1350,1.65608,1245,1.264086,...,402,1.064672,1153,0.730485,245,0.538212,503,1.527923,938,0.503072
23,20,"อุบัติเหตุจากการขนส่งและผลที่ตามมา (V01-V99, Y...",1177791,19.685226,9936,21.14731,21129,25.919492,18936,19.226298,...,6830,18.088834,26455,16.760612,6338,13.923214,7879,23.933415,27184,14.579436
24,21,สาเหตุจากภายนอกอื่นๆ ที่ทำให้ป่วยหรือตาย (W00-...,4883810,81.626454,41516,88.360679,81107,99.496061,69452,70.516732,...,36317,96.183335,95564,60.54474,32004,70.305858,35061,106.502028,121127,64.963337

In [60]:
df_opd_2561 = df_opd_2561.loc[0:3]
df_opd_2561

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2560 (อัตราต่อประชากร 1,000 คน)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,ทั่วประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,NaN,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
2,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,รวม,NaN,202989132,3392.69608,1246366,2652.706094,3214004,3942.702085,3356022,3407.471411,...,1368374,3624.054176,5049921,3199.386342,1785663,3922.714961,1732595,5262.966844,6340921,3400.789147

In [61]:
len(df_opd_2561.columns)

156

In [62]:
df_opd_2561 = df_opd_2561.drop(columns=[f'Unnamed: {i}' for i in range(3,len(df_opd_2561.columns),2)])
df_opd_2561

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2560 (อัตราต่อประชากร 1,000 คน)",Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,ทั่วประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,...,สุราษฎร์ธานี,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
2,NaN,NaN,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,...,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน
3,รวม,NaN,202989132,1246366,3214004,3356022,2812817,5544608,1991994,2734985,...,4052119,4179998,1793987,1536207,1386608,1368374,5049921,1785663,1732595,6340921

In [63]:
df_opd_2561 = df_opd_2561.loc[1:3:2]
df_opd_2561

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2560 (อัตราต่อประชากร 1,000 คน)",Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
1,กลุ่มโรค,สาเหตุการป่วย,ทั่วประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,...,สุราษฎร์ธานี,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,รวม,NaN,202989132,1246366,3214004,3356022,2812817,5544608,1991994,2734985,...,4052119,4179998,1793987,1536207,1386608,1368374,5049921,1785663,1732595,6340921

In [64]:
df_opd_2561.columns

Index(['จำนวนและอัตราผู้ป่วยนอกทั้งประเทศและรายจังหวัด (ไม่รวมกรุงเทพมหานคร) พ.ศ.2560 (อัตราต่อประชากร 1,000 คน)',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 8',
       'Unnamed: 10', 'Unnamed: 12', 'Unnamed: 14', 'Unnamed: 16',
       'Unnamed: 18', 'Unnamed: 20', 'Unnamed: 22', 'Unnamed: 24',
       'Unnamed: 26', 'Unnamed: 28', 'Unnamed: 30', 'Unnamed: 32',
       'Unnamed: 34', 'Unnamed: 36', 'Unnamed: 38', 'Unnamed: 40',
       'Unnamed: 42', 'Unnamed: 44', 'Unnamed: 46', 'Unnamed: 48',
       'Unnamed: 50', 'Unnamed: 52', 'Unnamed: 54', 'Unnamed: 56',
       'Unnamed: 58', 'Unnamed: 60', 'Unnamed: 62', 'Unnamed: 64',
       'Unnamed: 66', 'Unnamed: 68', 'Unnamed: 70', 'Unnamed: 72',
       'Unnamed: 74', 'Unnamed: 76', 'Unnamed: 78', 'Unnamed: 80',
       'Unnamed: 82', 'Unnamed: 84', 'Unnamed: 86', 'Unnamed: 88',
       'Unnamed: 90', 'Unnamed: 92', 'Unnamed: 94', 'Unnamed: 96',
       'Unnamed: 98', 'Unnamed: 100', 'Unnamed: 102', 'Unnamed: 104',
       'Unnamed: 106', 'Unnamed: 108', 'Unnamed: 110', 'Unnamed: 112',
       'Unnamed: 114', 'Unnamed: 116', 'Unnamed: 118', 'Unnamed: 120',
       'Unnamed: 122', 'Unnamed: 124', 'Unnamed: 126', 'Unnamed: 128',
       'Unnamed: 130', 'Unnamed: 132', 'Unnamed: 134', 'Unnamed: 136',
       'Unnamed: 138', 'Unnamed: 140', 'Unnamed: 142', 'Unnamed: 144',
       'Unnamed: 146', 'Unnamed: 148', 'Unnamed: 150', 'Unnamed: 152',
       'Unnamed: 154'],
      dtype='object')

In [65]:
df_opd_2561 = df_opd_2561.drop(columns=df_opd_2561.columns[0])
df_opd_2561

,Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,Unnamed: 18,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
1,สาเหตุการป่วย,ทั่วประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,ชลบุรี,...,สุราษฎร์ธานี,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,NaN,202989132,1246366,3214004,3356022,2812817,5544608,1991994,2734985,3467681,...,4052119,4179998,1793987,1536207,1386608,1368374,5049921,1785663,1732595,6340921

In [66]:
df_opd_2561 = df_opd_2561.drop(columns=['Unnamed: 1', 'Unnamed: 2'])
df_opd_2561

,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 16,Unnamed: 18,Unnamed: 20,Unnamed: 22,...,Unnamed: 136,Unnamed: 138,Unnamed: 140,Unnamed: 142,Unnamed: 144,Unnamed: 146,Unnamed: 148,Unnamed: 150,Unnamed: 152,Unnamed: 154
1,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,ชลบุรี,ชัยนาท,ชัยภูมิ,...,สุราษฎร์ธานี,สุรินทร์,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,1246366,3214004,3356022,2812817,5544608,1991994,2734985,3467681,1881114,3492274,...,4052119,4179998,1793987,1536207,1386608,1368374,5049921,1785663,1732595,6340921

In [67]:
prov_2561 = df_opd_2561.loc[1].values
prov_2561

array(['กระบี่', 'กาญจนบุรี', 'กาฬสินธุ์', 'กำแพงเพชร', 'ขอนแก่น',
       'จันทบุรี', 'ฉะเชิงเทรา', 'ชลบุรี', 'ชัยนาท', 'ชัยภูมิ', 'ชุมพร',
       'เชียงราย', 'เชียงใหม่', 'ตรัง', 'ตราด', 'ตาก', 'นครนายก',
       'นครปฐม', 'นครพนม', 'นครราชสีมา', 'นครศรีธรรมราช', 'นครสวรรค์',
       'นนทบุรี', 'นราธิวาส', 'น่าน', 'บึงกาฬ', 'บุรีรัมย์', 'ปทุมธานี',
       'ประจวบคีรีขันธ์', 'ปราจีนบุรี', 'ปัตตานี', 'พระนครศรีอยุธยา',
       'พะเยา', 'พังงา', 'พัทลุง', 'พิจิตร', 'พิษณุโลก', 'เพชรบุรี',
       'เพชรบูรณ์', 'แพร่', 'ภูเก็ต', 'มหาสารคาม', 'มุกดาหาร',
       'แม่ฮ่องสอน', 'ยโสธร', 'ยะลา', 'ร้อยเอ็ด', 'ระนอง', 'ระยอง',
       'ราชบุรี', 'ลพบุรี', 'ลำปาง', 'ลำพูน', 'เลย', 'ศรีสะเกษ', 'สกลนคร',
       'สงขลา', 'สตูล', 'สมุทรปราการ', 'สมุทรสงคราม', 'สมุทรสาคร',
       'สระแก้ว', 'สระบุรี', 'สิงห์บุรี', 'สุโขทัย', 'สุพรรณบุรี',
       'สุราษฎร์ธานี', 'สุรินทร์', 'หนองคาย', 'หนองบัวลำภู', 'อ่างทอง',
       'อำนาจเจริญ', 'อุดรธานี', 'อุตรดิตถ์', 'อุทัยธานี', 'อุบลราชธานี'],
      dtype=object)

In [68]:
len(prov_2561)

76

In [69]:
no_patient_2561 = df_opd_2561.loc[3].values
no_patient_2561

array([1246366, 3214004, 3356022, 2812817, 5544608, 1991994, 2734985,
       3467681, 1881114, 3492274, 1606286, 4764342, 5345625, 2099175,
       914921, 2026608, 1141547, 3317899, 2100996, 6668454, 5312859,
       4453075, 3709585, 1212213, 2076375, 1228069, 3480005, 2545276,
       2020881, 2051015, 1971340, 3156029, 1975615, 986617, 2158648,
       2306689, 3594982, 2126037, 2885865, 1917466, 1174502, 2749835,
       1107418, 896772, 1669658, 1638631, 4733762, 588878, 2247067,
       3267445, 2801858, 3169313, 1864469, 2417603, 4901578, 4019173,
       4930703, 977873, 3001828, 864174, 2510808, 1767109, 2798259,
       1106945, 2257591, 3403128, 4052119, 4179998, 1793987, 1536207,
       1386608, 1368374, 5049921, 1785663, 1732595, 6340921], dtype=object)

In [70]:
df_2561 = pd.DataFrame(data={'Province':prov_2561,
                            'total_OPD': no_patient_2561})
df_2561

       Province total_OPD
0        กระบี่   1246366
1     กาญจนบุรี   3214004
2     กาฬสินธุ์   3356022
3     กำแพงเพชร   2812817
4       ขอนแก่น   5544608
..          ...       ...
71   อำนาจเจริญ   1368374
72     อุดรธานี   5049921
73    อุตรดิตถ์   1785663
74    อุทัยธานี   1732595
75  อุบลราชธานี   6340921

[76 rows x 2 columns]

In [71]:
df_2561['Year'] = 2561
df_2561

       Province total_OPD  Year
0        กระบี่   1246366  2561
1     กาญจนบุรี   3214004  2561
2     กาฬสินธุ์   3356022  2561
3     กำแพงเพชร   2812817  2561
4       ขอนแก่น   5544608  2561
..          ...       ...   ...
71   อำนาจเจริญ   1368374  2561
72     อุดรธานี   5049921  2561
73    อุตรดิตถ์   1785663  2561
74    อุทัยธานี   1732595  2561
75  อุบลราชธานี   6340921  2561

[76 rows x 3 columns]

In [72]:
new_df = pd.concat([new_df, df_2561], ignore_index=True)
new_df

        Province total_OPD  Year
0         กระบี่   1110208  2556
1      กาญจนบุรี   1780883  2556
2      กาฬสินธุ์   3407362  2556
3      กำแพงเพชร   2511719  2556
4        ขอนแก่น   7250904  2556
..           ...       ...   ...
375   อำนาจเจริญ   1368374  2561
376     อุดรธานี   5049921  2561
377    อุตรดิตถ์   1785663  2561
378    อุทัยธานี   1732595  2561
379  อุบลราชธานี   6340921  2561

[380 rows x 3 columns]

### OPD2562

In [73]:
df_opd_2562 = pd.read_excel('../add_data/dataset/OPD/OPD2562.xlsx')
df_opd_2562

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2562 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156
0,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
1,NaN,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
2,รวม,NaN,รวม,241816724,4030.6874,1420358,3001.6843,3623940,4421.0349,3931891,...,1499456,3969.5662,5838858,3696.7409,2227447,4915.0726,1947712,5928.5666,7606008,4070.0741
3,NaN,NaN,ชาย,98600462,3344.6719,549988,2340.016,1500554,3658.478,1570117,...,614290,3261.3589,2309845,2948.0734,892330,4022.8387,755725,4698.6135,3130490,3347.7274
4,NaN,NaN,หญิง,143216262,4693.4522,870370,3654.6981,2123386,5184.7314,2361774,...,885166,4673.9218,3529013,4433.7063,1335117,5770.4596,1191987,7108.2772,4475518,4793.5458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,NaN,NaN,ชาย,2821769,95.7185,21958,93.424,44997,109.7065,33904,...,16370,86.9108,57345,73.1899,20011,90.2144,19817,123.2094,68588,73.3476
67,NaN,NaN,หญิง,2137998,70.066,18563,77.9463,33697,82.2789,22669,...,10724,56.6257,40794,51.2519,15647,67.6273,16972,101.2106,54359,58.2217
68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,รวบรวม/ วิเคราะห์: กองยุทธศาสตร์และแผนงาน สําน...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,แหล่งข้อมูล: ฐานข้อมูลตามโครงสร้างมาตรฐานข้อม...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
df_opd_2562 = df_opd_2562.loc[0:2]
df_opd_2562

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2562 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156
0,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
1,NaN,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
2,รวม,NaN,รวม,241816724,4030.6874,1420358,3001.6843,3623940,4421.0349,3931891,...,1499456,3969.5662,5838858,3696.7409,2227447,4915.0726,1947712,5928.5666,7606008,4070.0741

In [75]:
len(df_opd_2562.columns)

157

In [76]:
df_opd_2562 = df_opd_2562.drop(columns=[f'Unnamed: {i}' for i in range(4,len(df_opd_2562.columns),2)])
df_opd_2562

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2562 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
0,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
1,NaN,NaN,NaN,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,...,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน
2,รวม,NaN,รวม,241816724,1420358,3623940,3931891,3083538,7741607,2161553,...,4832961,2692290,2051034,1662325,1363349,1499456,5838858,2227447,1947712,7606008

In [77]:
df_opd_2562 = df_opd_2562.loc[0:2:2]
df_opd_2562

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2562 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
0,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
2,รวม,NaN,รวม,241816724,1420358,3623940,3931891,3083538,7741607,2161553,...,4832961,2692290,2051034,1662325,1363349,1499456,5838858,2227447,1947712,7606008

In [78]:
df_opd_2562.columns

Index(['จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2562 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 5', 'Unnamed: 7',
       'Unnamed: 9', 'Unnamed: 11', 'Unnamed: 13', 'Unnamed: 15',
       'Unnamed: 17', 'Unnamed: 19', 'Unnamed: 21', 'Unnamed: 23',
       'Unnamed: 25', 'Unnamed: 27', 'Unnamed: 29', 'Unnamed: 31',
       'Unnamed: 33', 'Unnamed: 35', 'Unnamed: 37', 'Unnamed: 39',
       'Unnamed: 41', 'Unnamed: 43', 'Unnamed: 45', 'Unnamed: 47',
       'Unnamed: 49', 'Unnamed: 51', 'Unnamed: 53', 'Unnamed: 55',
       'Unnamed: 57', 'Unnamed: 59', 'Unnamed: 61', 'Unnamed: 63',
       'Unnamed: 65', 'Unnamed: 67', 'Unnamed: 69', 'Unnamed: 71',
       'Unnamed: 73', 'Unnamed: 75', 'Unnamed: 77', 'Unnamed: 79',
       'Unnamed: 81', 'Unnamed: 83', 'Unnamed: 85', 'Unnamed: 87',
       'Unnamed: 89', 'Unnamed: 91', 'Unnamed: 93', 'Unnamed: 95',
       'Unnamed: 97', 'Unnamed: 99', 'Unnamed: 101', 'Unnamed: 103',
       'Unnamed: 105', 'Unnamed: 107', 'Unnamed: 109', 'Unnamed: 111',
       'Unnamed: 113', 'Unnamed: 115', 'Unnamed: 117', 'Unnamed: 119',
       'Unnamed: 121', 'Unnamed: 123', 'Unnamed: 125', 'Unnamed: 127',
       'Unnamed: 129', 'Unnamed: 131', 'Unnamed: 133', 'Unnamed: 135',
       'Unnamed: 137', 'Unnamed: 139', 'Unnamed: 141', 'Unnamed: 143',
       'Unnamed: 145', 'Unnamed: 147', 'Unnamed: 149', 'Unnamed: 151',
       'Unnamed: 153', 'Unnamed: 155'],
      dtype='object')

In [79]:
df_opd_2562 = df_opd_2562.drop(columns=df_opd_2562.columns[0])
df_opd_2562

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 17,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
0,สาเหตุการป่วย,เพศ,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
2,NaN,รวม,241816724,1420358,3623940,3931891,3083538,7741607,2161553,2823022,...,4832961,2692290,2051034,1662325,1363349,1499456,5838858,2227447,1947712,7606008

In [80]:
df_opd_2562 = df_opd_2562.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
df_opd_2562

,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 17,Unnamed: 19,Unnamed: 21,Unnamed: 23,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
0,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,ชลบุรี,ชัยนาท,ชัยภูมิ,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
2,1420358,3623940,3931891,3083538,7741607,2161553,2823022,6239622,1894490,4005910,...,4832961,2692290,2051034,1662325,1363349,1499456,5838858,2227447,1947712,7606008

In [81]:
prov_2562 = df_opd_2562.loc[0].values
prov_2562

array(['กระบี่', 'กาญจนบุรี', 'กาฬสินธุ์', 'กำแพงเพชร', 'ขอนแก่น',
       'จันทบุรี', 'ฉะเชิงเทรา', 'ชลบุรี', 'ชัยนาท', 'ชัยภูมิ', 'ชุมพร',
       'เชียงราย', 'เชียงใหม่', 'ตรัง', 'ตราด', 'ตาก', 'นครนายก',
       'นครปฐม', 'นครพนม', 'นครราชสีมา', 'นครศรีธรรมราช', 'นครสวรรค์',
       'นนทบุรี', 'นราธิวาส', 'น่าน', 'บึงกาฬ', 'บุรีรัมย์', 'ปทุมธานี',
       'ประจวบคีรีขันธ์', 'ปราจีนบุรี', 'ปัตตานี', 'พระนครศรีอยุธยา',
       'พะเยา', 'พังงา', 'พัทลุง', 'พิจิตร', 'พิษณุโลก', 'เพชรบุรี',
       'เพชรบูรณ์', 'แพร่', 'ภูเก็ต', 'มหาสารคาม', 'มุกดาหาร',
       'แม่ฮ่องสอน', 'ยะลา', 'ยโสธร', 'ระนอง', 'ระยอง', 'ราชบุรี',
       'ร้อยเอ็ด', 'ลพบุรี', 'ลำปาง', 'ลำพูน', 'เลย', 'ศรีสะเกษ',
       'สกลนคร', 'สงขลา', 'สตูล', 'สมุทรปราการ', 'สมุทรสงคราม',
       'สมุทรสาคร', 'สระบุรี', 'สระแก้ว', 'สิงห์บุรี', 'สุพรรณบุรี',
       'สุราษฎร์ธานี', 'สุรินทร์', 'สุโขทัย', 'หนองคาย', 'หนองบัวลำภู',
       'อ่างทอง', 'อำนาจเจริญ', 'อุดรธานี', 'อุตรดิตถ์', 'อุทัยธานี',
       'อุบลราชธานี'], dtype=object)

In [82]:
len(prov_2562)

76

In [83]:
no_patient_2562 = df_opd_2562.loc[2].values
no_patient_2562

array([1420358, 3623940, 3931891, 3083538, 7741607, 2161553, 2823022,
       6239622, 1894490, 4005910, 1847135, 5607295, 8531313, 2633606,
       919104, 2175602, 1178849, 4040174, 2432712, 10019504, 6211519,
       4886658, 4109252, 2667654, 2483404, 1455391, 5877663, 2896222,
       2288590, 2010859, 2275700, 3196222, 2325526, 1093659, 2506208,
       2647569, 4477494, 2422220, 3371789, 2213488, 1516484, 3360529,
       1205362, 987991, 1875312, 2001972, 684856, 2487998, 3740103,
       5298395, 2803997, 3609582, 2264643, 2756371, 5628325, 4517336,
       5564108, 1121091, 3215594, 970020, 2412177, 2756326, 1905162,
       1144198, 3956595, 4582445, 4832961, 2692290, 2051034, 1662325,
       1363349, 1499456, 5838858, 2227447, 1947712, 7606008], dtype=object)

In [84]:
df_2562 = pd.DataFrame(data={'Province':prov_2562,
                            'total_OPD': no_patient_2562})
df_2562

       Province total_OPD
0        กระบี่   1420358
1     กาญจนบุรี   3623940
2     กาฬสินธุ์   3931891
3     กำแพงเพชร   3083538
4       ขอนแก่น   7741607
..          ...       ...
71   อำนาจเจริญ   1499456
72     อุดรธานี   5838858
73    อุตรดิตถ์   2227447
74    อุทัยธานี   1947712
75  อุบลราชธานี   7606008

[76 rows x 2 columns]

In [85]:
df_2562['Year'] = 2562
df_2562

       Province total_OPD  Year
0        กระบี่   1420358  2562
1     กาญจนบุรี   3623940  2562
2     กาฬสินธุ์   3931891  2562
3     กำแพงเพชร   3083538  2562
4       ขอนแก่น   7741607  2562
..          ...       ...   ...
71   อำนาจเจริญ   1499456  2562
72     อุดรธานี   5838858  2562
73    อุตรดิตถ์   2227447  2562
74    อุทัยธานี   1947712  2562
75  อุบลราชธานี   7606008  2562

[76 rows x 3 columns]

In [86]:
new_df = pd.concat([new_df, df_2562], ignore_index=True)
new_df

        Province total_OPD  Year
0         กระบี่   1110208  2556
1      กาญจนบุรี   1780883  2556
2      กาฬสินธุ์   3407362  2556
3      กำแพงเพชร   2511719  2556
4        ขอนแก่น   7250904  2556
..           ...       ...   ...
451   อำนาจเจริญ   1499456  2562
452     อุดรธานี   5838858  2562
453    อุตรดิตถ์   2227447  2562
454    อุทัยธานี   1947712  2562
455  อุบลราชธานี   7606008  2562

[456 rows x 3 columns]

### OPD2563

In [87]:
df_opd_2563 = pd.read_excel('../add_data/dataset/OPD/OPD2563.xlsx')
df_opd_2563

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2563 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
2,NaN,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,รวม,NaN,รวม,209613842,3499.4614,1206856,2540.0008,3241499,3962.7418,3350703,...,1220505,3241.4635,5065260,3226.5618,2016572,4482.8551,1688780,5168.2422,6474390,3472.2675
4,NaN,NaN,ชาย,84810629,2884.4694,463572,1965.6124,1320209,3228.029,1325289,...,495548,2641.176,1994181,2564.7245,810030,3684.584,654806,4096.2497,2602815,2791.6446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,NaN,NaN,ชาย,2592420,88.17,20175,85.5449,42577,104.1046,28804,...,15158,80.7892,52336,67.3095,19931,90.6602,17861,111.7325,63046,67.6199
68,NaN,NaN,หญิง,1960374,64.2822,16105,67.3007,32550,79.5822,19881,...,10437,55.25,37290,47.0643,15787,68.6397,14852,88.9842,50587,54.2639
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,รวบรวม/ วิเคราะห์: กองยุทธศาสตร์และแผนงาน สําน...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,แหล่งข้อมูล: ฐานข้อมูลตามโครงสร้างมาตรฐานข้อม...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
df_opd_2563 = df_opd_2563.loc[1:3]
df_opd_2563

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2563 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
2,NaN,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,รวม,NaN,รวม,209613842,3499.4614,1206856,2540.0008,3241499,3962.7418,3350703,...,1220505,3241.4635,5065260,3226.5618,2016572,4482.8551,1688780,5168.2422,6474390,3472.2675

In [89]:
len(df_opd_2563.columns)

157

In [90]:
df_opd_2563 = df_opd_2563.drop(columns=[f'Unnamed: {i}' for i in range(4,len(df_opd_2563.columns),2)])
df_opd_2563

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2563 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
2,NaN,NaN,NaN,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,...,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน
3,รวม,NaN,รวม,209613842,1206856,3241499,3350703,2731633,6848821,1953459,...,4157960,2342188,1848350,1478969,1159907,1220505,5065260,2016572,1688780,6474390

In [91]:
df_opd_2563 = df_opd_2563.loc[1:3:2]
df_opd_2563

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2563 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,รวม,NaN,รวม,209613842,1206856,3241499,3350703,2731633,6848821,1953459,...,4157960,2342188,1848350,1478969,1159907,1220505,5065260,2016572,1688780,6474390

In [92]:
df_opd_2563 = df_opd_2563.drop(columns=df_opd_2563.columns[0])
df_opd_2563

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 17,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,สาเหตุการป่วย,เพศ,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,NaN,รวม,209613842,1206856,3241499,3350703,2731633,6848821,1953459,2361590,...,4157960,2342188,1848350,1478969,1159907,1220505,5065260,2016572,1688780,6474390

In [93]:
df_opd_2563 = df_opd_2563.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
df_opd_2563

,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 17,Unnamed: 19,Unnamed: 21,Unnamed: 23,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,ชลบุรี,ชัยนาท,ชัยภูมิ,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,1206856,3241499,3350703,2731633,6848821,1953459,2361590,5220666,1656112,3425126,...,4157960,2342188,1848350,1478969,1159907,1220505,5065260,2016572,1688780,6474390

In [94]:
prov_2563 = df_opd_2563.loc[1].values
prov_2563

array(['กระบี่', 'กาญจนบุรี', 'กาฬสินธุ์', 'กำแพงเพชร', 'ขอนแก่น',
       'จันทบุรี', 'ฉะเชิงเทรา', 'ชลบุรี', 'ชัยนาท', 'ชัยภูมิ', 'ชุมพร',
       'เชียงราย', 'เชียงใหม่', 'ตรัง', 'ตราด', 'ตาก', 'นครนายก',
       'นครปฐม', 'นครพนม', 'นครราชสีมา', 'นครศรีธรรมราช', 'นครสวรรค์',
       'นนทบุรี', 'นราธิวาส', 'น่าน', 'บึงกาฬ', 'บุรีรัมย์', 'ปทุมธานี',
       'ประจวบคีรีขันธ์', 'ปราจีนบุรี', 'ปัตตานี', 'พระนครศรีอยุธยา',
       'พะเยา', 'พังงา', 'พัทลุง', 'พิจิตร', 'พิษณุโลก', 'เพชรบุรี',
       'เพชรบูรณ์', 'แพร่', 'ภูเก็ต', 'มหาสารคาม', 'มุกดาหาร',
       'แม่ฮ่องสอน', 'ยะลา', 'ยโสธร', 'ระนอง', 'ระยอง', 'ราชบุรี',
       'ร้อยเอ็ด', 'ลพบุรี', 'ลำปาง', 'ลำพูน', 'เลย', 'ศรีสะเกษ',
       'สกลนคร', 'สงขลา', 'สตูล', 'สมุทรปราการ', 'สมุทรสงคราม',
       'สมุทรสาคร', 'สระบุรี', 'สระแก้ว', 'สิงห์บุรี', 'สุพรรณบุรี',
       'สุราษฎร์ธานี', 'สุรินทร์', 'สุโขทัย', 'หนองคาย', 'หนองบัวลำภู',
       'อ่างทอง', 'อำนาจเจริญ', 'อุดรธานี', 'อุตรดิตถ์', 'อุทัยธานี',
       'อุบลราชธานี'], dtype=object)

In [95]:
len(prov_2563)

76

In [96]:
no_patient_2563 = df_opd_2563.loc[3].values
no_patient_2563

array([1206856, 3241499, 3350703, 2731633, 6848821, 1953459, 2361590,
       5220666, 1656112, 3425126, 1692205, 5048932, 7480924, 2238210,
       808654, 1924110, 933714, 3373078, 2204331, 8810088, 5327941,
       4469817, 3053295, 2069565, 2105664, 1254070, 4978837, 2548879,
       2077707, 1921138, 1857266, 2685549, 2019832, 982787, 2171133,
       2339765, 4018078, 2073941, 3005477, 1917096, 1212526, 2932171,
       991269, 862241, 1591494, 1657972, 588476, 2155358, 3160232,
       4621746, 2328387, 3246642, 1962575, 2527550, 5052606, 3778867,
       4828275, 978012, 2668314, 930028, 2177880, 2428526, 1612613,
       987579, 3529825, 3961249, 4157960, 2342188, 1848350, 1478969,
       1159907, 1220505, 5065260, 2016572, 1688780, 6474390], dtype=object)

In [97]:
df_2563 = pd.DataFrame(data={'Province':prov_2563,
                            'total_OPD': no_patient_2563})
df_2563

       Province total_OPD
0        กระบี่   1206856
1     กาญจนบุรี   3241499
2     กาฬสินธุ์   3350703
3     กำแพงเพชร   2731633
4       ขอนแก่น   6848821
..          ...       ...
71   อำนาจเจริญ   1220505
72     อุดรธานี   5065260
73    อุตรดิตถ์   2016572
74    อุทัยธานี   1688780
75  อุบลราชธานี   6474390

[76 rows x 2 columns]

In [98]:
df_2563['Year'] = 2563
df_2563

       Province total_OPD  Year
0        กระบี่   1206856  2563
1     กาญจนบุรี   3241499  2563
2     กาฬสินธุ์   3350703  2563
3     กำแพงเพชร   2731633  2563
4       ขอนแก่น   6848821  2563
..          ...       ...   ...
71   อำนาจเจริญ   1220505  2563
72     อุดรธานี   5065260  2563
73    อุตรดิตถ์   2016572  2563
74    อุทัยธานี   1688780  2563
75  อุบลราชธานี   6474390  2563

[76 rows x 3 columns]

In [99]:
new_df = pd.concat([new_df, df_2563], ignore_index=True)
new_df

        Province total_OPD  Year
0         กระบี่   1110208  2556
1      กาญจนบุรี   1780883  2556
2      กาฬสินธุ์   3407362  2556
3      กำแพงเพชร   2511719  2556
4        ขอนแก่น   7250904  2556
..           ...       ...   ...
527   อำนาจเจริญ   1220505  2563
528     อุดรธานี   5065260  2563
529    อุตรดิตถ์   2016572  2563
530    อุทัยธานี   1688780  2563
531  อุบลราชธานี   6474390  2563

[532 rows x 3 columns]

### OPD2564

In [100]:
df_opd_2564 = pd.read_excel('../add_data/dataset/OPD/OPD2564.xlsx')
df_opd_2564

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2564 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
2,NaN,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,รวม,NaN,รวม,175370320,2934.8242,991758,2081.9244,2850861,3495.0514,2784371,...,1047124,2788.6199,4471466,2866.5816,1767370,3959.6146,1539460,4736.4357,5432083,2921.2694
4,NaN,NaN,ชาย,71199497,2430.2003,379503,1605.0507,1170774,2875.4359,1098032,...,432107,2312.2906,1774573,2300.4516,713080,3274.7346,599563,3773.3758,2215657,2385.0068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,NaN,NaN,ชาย,2250980,76.8311,18212,77.0249,38783,95.2515,26637,...,13684,73.2258,47338,61.3662,17547,80.5825,15707,98.8527,54775,58.9616
68,NaN,NaN,หญิง,1700996,55.8488,14987,62.4659,29612,72.4859,18588,...,9158,48.5514,34194,43.3682,13809,60.4076,13318,80.1652,42190,45.3412
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,รวบรวม/ วิเคราะห์: กองยุทธศาสตร์และแผนงาน สําน...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,แหล่งข้อมูล: ฐานข้อมูลตามโครงสร้างมาตรฐานข้อม...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
df_opd_2564 = df_opd_2564.loc[1:3]
df_opd_2564

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2564 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
2,NaN,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,รวม,NaN,รวม,175370320,2934.8242,991758,2081.9244,2850861,3495.0514,2784371,...,1047124,2788.6199,4471466,2866.5816,1767370,3959.6146,1539460,4736.4357,5432083,2921.2694

In [102]:
len(df_opd_2564.columns)

157

In [103]:
df_opd_2564 = df_opd_2564.drop(columns=[f'Unnamed: {i}' for i in range(4,len(df_opd_2564.columns),2)])
df_opd_2564

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2564 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
2,NaN,NaN,NaN,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,...,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน
3,รวม,NaN,รวม,175370320,991758,2850861,2784371,2247230,5409493,1517381,...,3487198,2162404,1593525,1200202,899135,1047124,4471466,1767370,1539460,5432083

In [104]:
df_opd_2564 = df_opd_2564.loc[1:3:2]
df_opd_2564

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2564 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,รวม,NaN,รวม,175370320,991758,2850861,2784371,2247230,5409493,1517381,...,3487198,2162404,1593525,1200202,899135,1047124,4471466,1767370,1539460,5432083

In [105]:
df_opd_2564 = df_opd_2564.drop(columns=df_opd_2564.columns[0])
df_opd_2564

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 17,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,สาเหตุการป่วย,เพศ,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,NaN,รวม,175370320,991758,2850861,2784371,2247230,5409493,1517381,1733635,...,3487198,2162404,1593525,1200202,899135,1047124,4471466,1767370,1539460,5432083

In [106]:
df_opd_2564 = df_opd_2564.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
df_opd_2564

,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 17,Unnamed: 19,Unnamed: 21,Unnamed: 23,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,ชลบุรี,ชัยนาท,ชัยภูมิ,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,991758,2850861,2784371,2247230,5409493,1517381,1733635,4236575,1489887,2938043,...,3487198,2162404,1593525,1200202,899135,1047124,4471466,1767370,1539460,5432083

In [107]:
prov_2564 = df_opd_2564.loc[1].values
prov_2564

array(['กระบี่', 'กาญจนบุรี', 'กาฬสินธุ์', 'กำแพงเพชร', 'ขอนแก่น',
       'จันทบุรี', 'ฉะเชิงเทรา', 'ชลบุรี', 'ชัยนาท', 'ชัยภูมิ', 'ชุมพร',
       'เชียงราย', 'เชียงใหม่', 'ตรัง', 'ตราด', 'ตาก', 'นครนายก',
       'นครปฐม', 'นครพนม', 'นครราชสีมา', 'นครศรีธรรมราช', 'นครสวรรค์',
       'นนทบุรี', 'นราธิวาส', 'น่าน', 'บึงกาฬ', 'บุรีรัมย์', 'ปทุมธานี',
       'ประจวบคีรีขันธ์', 'ปราจีนบุรี', 'ปัตตานี', 'พระนครศรีอยุธยา',
       'พะเยา', 'พังงา', 'พัทลุง', 'พิจิตร', 'พิษณุโลก', 'เพชรบุรี',
       'เพชรบูรณ์', 'แพร่', 'ภูเก็ต', 'มหาสารคาม', 'มุกดาหาร',
       'แม่ฮ่องสอน', 'ยะลา', 'ยโสธร', 'ระนอง', 'ระยอง', 'ราชบุรี',
       'ร้อยเอ็ด', 'ลพบุรี', 'ลำปาง', 'ลำพูน', 'เลย', 'ศรีสะเกษ',
       'สกลนคร', 'สงขลา', 'สตูล', 'สมุทรปราการ', 'สมุทรสงคราม',
       'สมุทรสาคร', 'สระบุรี', 'สระแก้ว', 'สิงห์บุรี', 'สุพรรณบุรี',
       'สุราษฎร์ธานี', 'สุรินทร์', 'สุโขทัย', 'หนองคาย', 'หนองบัวลำภู',
       'อ่างทอง', 'อำนาจเจริญ', 'อุดรธานี', 'อุตรดิตถ์', 'อุทัยธานี',
       'อุบลราชธานี'], dtype=object)

In [108]:
len(prov_2564)

76

In [109]:
no_patient_2564 = df_opd_2564.loc[3].values
no_patient_2564

array([991758, 2850861, 2784371, 2247230, 5409493, 1517381, 1733635,
       4236575, 1489887, 2938043, 1370275, 4153990, 6403209, 1795359,
       626452, 1364492, 780805, 2397761, 1867906, 7759510, 4543157,
       3962201, 2901760, 1594532, 1755091, 1000008, 4140675, 2053703,
       1861040, 1506857, 1360843, 2064063, 1886863, 832140, 1859029,
       2052215, 3425590, 1717139, 2510285, 1673132, 1081162, 2363236,
       867240, 804313, 1141190, 1456109, 521022, 1700573, 2599487,
       3974671, 1891371, 3035681, 1579614, 2141477, 4415267, 3137626,
       3789303, 817485, 2101318, 774175, 1808540, 1942049, 1324077,
       823680, 2917675, 3342696, 3487198, 2162404, 1593525, 1200202,
       899135, 1047124, 4471466, 1767370, 1539460, 5432083], dtype=object)

In [110]:
df_2564 = pd.DataFrame(data={'Province':prov_2564,
                            'total_OPD': no_patient_2564})
df_2564

       Province total_OPD
0        กระบี่    991758
1     กาญจนบุรี   2850861
2     กาฬสินธุ์   2784371
3     กำแพงเพชร   2247230
4       ขอนแก่น   5409493
..          ...       ...
71   อำนาจเจริญ   1047124
72     อุดรธานี   4471466
73    อุตรดิตถ์   1767370
74    อุทัยธานี   1539460
75  อุบลราชธานี   5432083

[76 rows x 2 columns]

In [111]:
df_2564['Year'] = 2564
df_2564

       Province total_OPD  Year
0        กระบี่    991758  2564
1     กาญจนบุรี   2850861  2564
2     กาฬสินธุ์   2784371  2564
3     กำแพงเพชร   2247230  2564
4       ขอนแก่น   5409493  2564
..          ...       ...   ...
71   อำนาจเจริญ   1047124  2564
72     อุดรธานี   4471466  2564
73    อุตรดิตถ์   1767370  2564
74    อุทัยธานี   1539460  2564
75  อุบลราชธานี   5432083  2564

[76 rows x 3 columns]

In [112]:
new_df = pd.concat([new_df, df_2564], ignore_index=True)
new_df

        Province total_OPD  Year
0         กระบี่   1110208  2556
1      กาญจนบุรี   1780883  2556
2      กาฬสินธุ์   3407362  2556
3      กำแพงเพชร   2511719  2556
4        ขอนแก่น   7250904  2556
..           ...       ...   ...
603   อำนาจเจริญ   1047124  2564
604     อุดรธานี   4471466  2564
605    อุตรดิตถ์   1767370  2564
606    อุทัยธานี   1539460  2564
607  อุบลราชธานี   5432083  2564

[608 rows x 3 columns]

### OPD2565

In [113]:
df_opd_2565 = pd.read_excel('../add_data/dataset/OPD/OPD2565.xlsx')
df_opd_2565

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2565 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
2,NaN,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,รวม,NaN,รวม,202374470,3387.5517,1259039,2636.9739,3306974,4049.3989,3190485,...,1068770,2849.3011,4998123,3209.517,1894572,4272.5583,1521726,4696.4098,5986758,3217.6647
4,NaN,NaN,ชาย,82351674,2813.9854,482816,2037.0694,1360520,3341.75,1270451,...,442381,2371.7999,1980129,2575.1947,767928,3554.0375,595919,3764.6579,2424172,2610.2291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,NaN,NaN,ชาย,2432323,83.1133,19140,80.7544,42334,103.982,33679,...,16598,88.9892,54728,71.1748,18453,85.4021,15254,96.3656,52492,56.5208
68,NaN,NaN,หญิง,1857704,60.9573,15715,65.3591,33308,81.3323,23211,...,11608,61.5541,40176,50.9616,14352,63.1257,12308,74.2672,41014,44.0125
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,รวบรวม/ วิเคราะห์: กองยุทธศาสตร์และแผนงาน สําน...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,แหล่งข้อมูล: ฐานข้อมูลตามโครงสร้างมาตรฐานข้อม...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [114]:
df_opd_2565 = df_opd_2565.loc[1:3]
df_opd_2565

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2565 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
2,NaN,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,รวม,NaN,รวม,202374470,3387.5517,1259039,2636.9739,3306974,4049.3989,3190485,...,1068770,2849.3011,4998123,3209.517,1894572,4272.5583,1521726,4696.4098,5986758,3217.6647

In [115]:
len(df_opd_2565.columns)

157

In [116]:
df_opd_2565 = df_opd_2565.drop(columns=[f'Unnamed: {i}' for i in range(4,len(df_opd_2565.columns),2)])
df_opd_2565

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2565 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
2,NaN,NaN,NaN,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,...,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน
3,รวม,NaN,รวม,202374470,1259039,3306974,3190485,2655865,6517425,1880130,...,4084053,2458816,1815275,1200114,1002582,1068770,4998123,1894572,1521726,5986758

In [117]:
df_opd_2565 = df_opd_2565.loc[1:3:2]
df_opd_2565

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2565 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,รวม,NaN,รวม,202374470,1259039,3306974,3190485,2655865,6517425,1880130,...,4084053,2458816,1815275,1200114,1002582,1068770,4998123,1894572,1521726,5986758

In [118]:
df_opd_2565 = df_opd_2565.drop(columns=df_opd_2565.columns[0])
df_opd_2565

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 17,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,สาเหตุการป่วย,เพศ,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,NaN,รวม,202374470,1259039,3306974,3190485,2655865,6517425,1880130,2230378,...,4084053,2458816,1815275,1200114,1002582,1068770,4998123,1894572,1521726,5986758

In [119]:
df_opd_2565 = df_opd_2565.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
df_opd_2565

,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 17,Unnamed: 19,Unnamed: 21,Unnamed: 23,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,ชลบุรี,ชัยนาท,ชัยภูมิ,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,1259039,3306974,3190485,2655865,6517425,1880130,2230378,5267553,1680237,3220833,...,4084053,2458816,1815275,1200114,1002582,1068770,4998123,1894572,1521726,5986758

In [120]:
prov_2565 = df_opd_2565.loc[1].values
prov_2565

array(['กระบี่', 'กาญจนบุรี', 'กาฬสินธุ์', 'กำแพงเพชร', 'ขอนแก่น',
       'จันทบุรี', 'ฉะเชิงเทรา', 'ชลบุรี', 'ชัยนาท', 'ชัยภูมิ', 'ชุมพร',
       'เชียงราย', 'เชียงใหม่', 'ตรัง', 'ตราด', 'ตาก', 'นครนายก',
       'นครปฐม', 'นครพนม', 'นครราชสีมา', 'นครศรีธรรมราช', 'นครสวรรค์',
       'นนทบุรี', 'นราธิวาส', 'น่าน', 'บึงกาฬ', 'บุรีรัมย์', 'ปทุมธานี',
       'ประจวบคีรีขันธ์', 'ปราจีนบุรี', 'ปัตตานี', 'พระนครศรีอยุธยา',
       'พะเยา', 'พังงา', 'พัทลุง', 'พิจิตร', 'พิษณุโลก', 'เพชรบุรี',
       'เพชรบูรณ์', 'แพร่', 'ภูเก็ต', 'มหาสารคาม', 'มุกดาหาร',
       'แม่ฮ่องสอน', 'ยะลา', 'ยโสธร', 'ระนอง', 'ระยอง', 'ราชบุรี',
       'ร้อยเอ็ด', 'ลพบุรี', 'ลำปาง', 'ลำพูน', 'เลย', 'ศรีสะเกษ',
       'สกลนคร', 'สงขลา', 'สตูล', 'สมุทรปราการ', 'สมุทรสงคราม',
       'สมุทรสาคร', 'สระบุรี', 'สระแก้ว', 'สิงห์บุรี', 'สุพรรณบุรี',
       'สุราษฎร์ธานี', 'สุรินทร์', 'สุโขทัย', 'หนองคาย', 'หนองบัวลำภู',
       'อ่างทอง', 'อำนาจเจริญ', 'อุดรธานี', 'อุตรดิตถ์', 'อุทัยธานี',
       'อุบลราชธานี'], dtype=object)

In [121]:
len(prov_2565)

76

In [122]:
no_patient_2565 = df_opd_2565.loc[3].values
no_patient_2565

array([1259039, 3306974, 3190485, 2655865, 6517425, 1880130, 2230378,
       5267553, 1680237, 3220833, 1638117, 4793609, 7219893, 2163769,
       710396, 1914784, 902557, 3082587, 1969062, 9066675, 5148165,
       4393118, 3711174, 1922134, 2038408, 1154475, 4985773, 2460597,
       2087796, 1854330, 1574988, 2457617, 2125239, 955926, 2065864,
       2217066, 4020615, 1915262, 2916183, 1985401, 1290032, 2752767,
       920005, 899200, 1382728, 1575831, 584171, 2060351, 2889117,
       4385966, 2284197, 3110905, 1796244, 2354913, 4709680, 3568826,
       4613065, 964784, 2625270, 841901, 2198899, 2393026, 1571095,
       1004509, 3223081, 3682619, 4084053, 2458816, 1815275, 1200114,
       1002582, 1068770, 4998123, 1894572, 1521726, 5986758], dtype=object)

In [123]:
df_2565 = pd.DataFrame(data={'Province':prov_2565,
                            'total_OPD': no_patient_2565})
df_2565

       Province total_OPD
0        กระบี่   1259039
1     กาญจนบุรี   3306974
2     กาฬสินธุ์   3190485
3     กำแพงเพชร   2655865
4       ขอนแก่น   6517425
..          ...       ...
71   อำนาจเจริญ   1068770
72     อุดรธานี   4998123
73    อุตรดิตถ์   1894572
74    อุทัยธานี   1521726
75  อุบลราชธานี   5986758

[76 rows x 2 columns]

In [124]:
df_2565['Year'] = 2565
df_2565

       Province total_OPD  Year
0        กระบี่   1259039  2565
1     กาญจนบุรี   3306974  2565
2     กาฬสินธุ์   3190485  2565
3     กำแพงเพชร   2655865  2565
4       ขอนแก่น   6517425  2565
..          ...       ...   ...
71   อำนาจเจริญ   1068770  2565
72     อุดรธานี   4998123  2565
73    อุตรดิตถ์   1894572  2565
74    อุทัยธานี   1521726  2565
75  อุบลราชธานี   5986758  2565

[76 rows x 3 columns]

In [125]:
new_df = pd.concat([new_df, df_2565], ignore_index=True)
new_df

        Province total_OPD  Year
0         กระบี่   1110208  2556
1      กาญจนบุรี   1780883  2556
2      กาฬสินธุ์   3407362  2556
3      กำแพงเพชร   2511719  2556
4        ขอนแก่น   7250904  2556
..           ...       ...   ...
679   อำนาจเจริญ   1068770  2565
680     อุดรธานี   4998123  2565
681    อุตรดิตถ์   1894572  2565
682    อุทัยธานี   1521726  2565
683  อุบลราชธานี   5986758  2565

[684 rows x 3 columns]

### OPD2566

In [126]:
df_opd_2566 = pd.read_excel('../add_data/dataset/OPD/OPD2566.xlsx')
df_opd_2566

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2566 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
2,NaN,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,รวม,NaN,รวม,220728256,3697.2537,1019057,2128.1696,3320907,4066.4997,3378688,...,1281055,3425.409,5266125,3390.9172,2132892,4845.7858,1721238,5335.7658,6779226,3643.468
4,NaN,NaN,ชาย,88953119,3044.1768,384258,1616.6691,1349037,3317.9214,1329176,...,527452,2837.2736,2066413,2698.0369,854333,3986.6588,669351,4251.1162,2702663,2912.0135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,NaN,NaN,ชาย,2477799,84.7959,15622,65.7256,40431,99.439,33528,...,19168,103.1086,53584,69.9626,19602,91.4708,16128,102.4306,59664,64.2856
68,NaN,NaN,หญิง,2037691,66.8537,12910,53.5336,34707,84.639,25604,...,14523,77.2151,42430,53.9058,17000,75.2692,13919,84.2901,50598,54.258
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,รวบรวม/ วิเคราะห์: กองยุทธศาสตร์และแผนงาน สําน...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,แหล่งข้อมูล: ฐานข้อมูลตามโครงสร้างมาตรฐานข้อม...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
df_opd_2566 = df_opd_2566.loc[1:3]
df_opd_2566

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2566 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
2,NaN,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,รวม,NaN,รวม,220728256,3697.2537,1019057,2128.1696,3320907,4066.4997,3378688,...,1281055,3425.409,5266125,3390.9172,2132892,4845.7858,1721238,5335.7658,6779226,3643.468

In [128]:
len(df_opd_2566.columns)

157

In [129]:
df_opd_2566 = df_opd_2566.drop(columns=[f'Unnamed: {i}' for i in range(4,len(df_opd_2566.columns),2)])
df_opd_2566

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2566 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
2,NaN,NaN,NaN,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,...,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน
3,รวม,NaN,รวม,220728256,1019057,3320907,3378688,2838261,6731333,2051426,...,4451494,2599901,1849164,1271819,1116083,1281055,5266125,2132892,1721238,6779226

In [130]:
df_opd_2566 = df_opd_2566.loc[1:3:2]
df_opd_2566

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2566 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,รวม,NaN,รวม,220728256,1019057,3320907,3378688,2838261,6731333,2051426,...,4451494,2599901,1849164,1271819,1116083,1281055,5266125,2132892,1721238,6779226

In [131]:
df_opd_2566 = df_opd_2566.drop(columns=df_opd_2566.columns[0])
df_opd_2566

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 17,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,สาเหตุการป่วย,เพศ,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,NaN,รวม,220728256,1019057,3320907,3378688,2838261,6731333,2051426,2449325,...,4451494,2599901,1849164,1271819,1116083,1281055,5266125,2132892,1721238,6779226

In [132]:
df_opd_2566 = df_opd_2566.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
df_opd_2566

,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 17,Unnamed: 19,Unnamed: 21,Unnamed: 23,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,ชลบุรี,ชัยนาท,ชัยภูมิ,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,1019057,3320907,3378688,2838261,6731333,2051426,2449325,5779741,1770897,3562002,...,4451494,2599901,1849164,1271819,1116083,1281055,5266125,2132892,1721238,6779226

In [133]:
prov_2566 = df_opd_2566.loc[1].values
prov_2566

array(['กระบี่', 'กาญจนบุรี', 'กาฬสินธุ์', 'กำแพงเพชร', 'ขอนแก่น',
       'จันทบุรี', 'ฉะเชิงเทรา', 'ชลบุรี', 'ชัยนาท', 'ชัยภูมิ', 'ชุมพร',
       'เชียงราย', 'เชียงใหม่', 'ตรัง', 'ตราด', 'ตาก', 'นครนายก',
       'นครปฐม', 'นครพนม', 'นครราชสีมา', 'นครศรีธรรมราช', 'นครสวรรค์',
       'นนทบุรี', 'นราธิวาส', 'น่าน', 'บึงกาฬ', 'บุรีรัมย์', 'ปทุมธานี',
       'ประจวบคีรีขันธ์', 'ปราจีนบุรี', 'ปัตตานี', 'พระนครศรีอยุธยา',
       'พะเยา', 'พังงา', 'พัทลุง', 'พิจิตร', 'พิษณุโลก', 'เพชรบุรี',
       'เพชรบูรณ์', 'แพร่', 'ภูเก็ต', 'มหาสารคาม', 'มุกดาหาร',
       'แม่ฮ่องสอน', 'ยะลา', 'ยโสธร', 'ระนอง', 'ระยอง', 'ราชบุรี',
       'ร้อยเอ็ด', 'ลพบุรี', 'ลำปาง', 'ลำพูน', 'เลย', 'ศรีสะเกษ',
       'สกลนคร', 'สงขลา', 'สตูล', 'สมุทรปราการ', 'สมุทรสงคราม',
       'สมุทรสาคร', 'สระบุรี', 'สระแก้ว', 'สิงห์บุรี', 'สุพรรณบุรี',
       'สุราษฎร์ธานี', 'สุรินทร์', 'สุโขทัย', 'หนองคาย', 'หนองบัวลำภู',
       'อ่างทอง', 'อำนาจเจริญ', 'อุดรธานี', 'อุตรดิตถ์', 'อุทัยธานี',
       'อุบลราชธานี'], dtype=object)

In [134]:
len(prov_2566)

76

In [135]:
no_patient_2566 = df_opd_2566.loc[3].values
no_patient_2566

array([1019057, 3320907, 3378688, 2838261, 6731333, 2051426, 2449325,
       5779741, 1770897, 3562002, 1764431, 5275997, 8083821, 2403762,
       824481, 2126667, 1009937, 3103210, 2116124, 9853708, 5836033,
       4682116, 4368265, 2173550, 2304699, 1281770, 5347849, 2723385,
       2104644, 1908033, 1819910, 2737957, 2274496, 1052309, 2302109,
       2303040, 4183392, 2013542, 3085116, 2052367, 1395016, 2946698,
       1066169, 971594, 1587059, 1807695, 653021, 2308463, 3666505,
       4379353, 2578292, 3481750, 1965102, 2565568, 4967916, 4043799,
       5207146, 1075015, 3009486, 899926, 2670129, 2713106, 1674336,
       1097911, 3434194, 4075653, 4451494, 2599901, 1849164, 1271819,
       1116083, 1281055, 5266125, 2132892, 1721238, 6779226], dtype=object)

In [136]:
df_2566 = pd.DataFrame(data={'Province':prov_2566,
                            'total_OPD': no_patient_2566})
df_2566

       Province total_OPD
0        กระบี่   1019057
1     กาญจนบุรี   3320907
2     กาฬสินธุ์   3378688
3     กำแพงเพชร   2838261
4       ขอนแก่น   6731333
..          ...       ...
71   อำนาจเจริญ   1281055
72     อุดรธานี   5266125
73    อุตรดิตถ์   2132892
74    อุทัยธานี   1721238
75  อุบลราชธานี   6779226

[76 rows x 2 columns]

In [137]:
df_2566['Year'] = 2566
df_2566

       Province total_OPD  Year
0        กระบี่   1019057  2566
1     กาญจนบุรี   3320907  2566
2     กาฬสินธุ์   3378688  2566
3     กำแพงเพชร   2838261  2566
4       ขอนแก่น   6731333  2566
..          ...       ...   ...
71   อำนาจเจริญ   1281055  2566
72     อุดรธานี   5266125  2566
73    อุตรดิตถ์   2132892  2566
74    อุทัยธานี   1721238  2566
75  อุบลราชธานี   6779226  2566

[76 rows x 3 columns]

In [138]:
new_df = pd.concat([new_df, df_2566], ignore_index=True)
new_df

        Province total_OPD  Year
0         กระบี่   1110208  2556
1      กาญจนบุรี   1780883  2556
2      กาฬสินธุ์   3407362  2556
3      กำแพงเพชร   2511719  2556
4        ขอนแก่น   7250904  2556
..           ...       ...   ...
755   อำนาจเจริญ   1281055  2566
756     อุดรธานี   5266125  2566
757    อุตรดิตถ์   2132892  2566
758    อุทัยธานี   1721238  2566
759  อุบลราชธานี   6779226  2566

[760 rows x 3 columns]

### OPD2567

In [139]:
df_opd_2567 = pd.read_excel('../add_data/dataset/OPD/OPD2567.xlsx')
df_opd_2567

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2567 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
2,NaN,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,รวม,NaN,รวม,203313886,3408.7201,927689,1929.5138,3069600,3760.3131,3273680,...,1343575,3608.1235,5369440,3470.5317,2104747,4818.5048,1627107,5071.0492,6279147,3376.628
4,NaN,NaN,ชาย,80887739,2773.1673,344579,1443.9765,1224821,3019.2099,1281340,...,541852,2929.1831,2085529,2736.1858,843262,3968.9268,626520,4002.5299,2479998,2675.7101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,NaN,NaN,ชาย,2220114,76.1147,13825,57.9344,35529,87.5797,34581,...,18226,98.5274,56875,74.6192,18811,88.5365,14112,90.1547,58172,62.7627
68,NaN,NaN,หญิง,1907369,62.5834,11917,49.2119,33095,80.5939,27545,...,13597,72.5595,46928,59.7848,16881,75.2477,12931,78.6887,50257,53.8813
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,รวบรวม/ วิเคราะห์: กองยุทธศาสตร์และแผนงาน สําน...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,แหล่งข้อมูล: ฐานข้อมูลตามโครงสร้างมาตรฐานข้อม...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
df_opd_2567 = df_opd_2567.loc[1:3]
df_opd_2567

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2567 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,Unnamed: 153,Unnamed: 154,Unnamed: 155,Unnamed: 156
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,NaN,กระบี่,NaN,กาญจนบุรี,NaN,กาฬสินธุ์,...,อำนาจเจริญ,NaN,อุดรธานี,NaN,อุตรดิตถ์,NaN,อุทัยธานี,NaN,อุบลราชธานี,NaN
2,NaN,NaN,NaN,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,...,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา,จำนวน,อัตรา
3,รวม,NaN,รวม,203313886,3408.7201,927689,1929.5138,3069600,3760.3131,3273680,...,1343575,3608.1235,5369440,3470.5317,2104747,4818.5048,1627107,5071.0492,6279147,3376.628

In [141]:
len(df_opd_2567.columns)

157

In [142]:
df_opd_2567 = df_opd_2567.drop(columns=[f'Unnamed: {i}' for i in range(4,len(df_opd_2567.columns),2)])
df_opd_2567

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2567 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
2,NaN,NaN,NaN,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,...,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน,จำนวน
3,รวม,NaN,รวม,203313886,927689,3069600,3273680,2755856,6123415,1870443,...,4065032,2525196,1601849,1167934,1079977,1343575,5369440,2104747,1627107,6279147

In [143]:
df_opd_2567 = df_opd_2567.loc[1:3:2]
df_opd_2567

,"จำนวนและอัตราผู้ป่วยนอกทั้งประเทศต่อประชากร 1,000 คน จำแนกตามสาเหตุการป่วย เปรียบเทียบรายจังหวัด ปี พ.ศ. 2567 (ไม่รวม กรุงเทพมหานคร) (หน่วยนับ: รายโรค)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,กลุ่มโรค,สาเหตุการป่วย,เพศ,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,รวม,NaN,รวม,203313886,927689,3069600,3273680,2755856,6123415,1870443,...,4065032,2525196,1601849,1167934,1079977,1343575,5369440,2104747,1627107,6279147

In [144]:
df_opd_2567 = df_opd_2567.drop(columns=df_opd_2567.columns[0])
df_opd_2567

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 17,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,สาเหตุการป่วย,เพศ,ทั้งประเทศ,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,NaN,รวม,203313886,927689,3069600,3273680,2755856,6123415,1870443,2265259,...,4065032,2525196,1601849,1167934,1079977,1343575,5369440,2104747,1627107,6279147

In [145]:
df_opd_2567 = df_opd_2567.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
df_opd_2567

,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 17,Unnamed: 19,Unnamed: 21,Unnamed: 23,...,Unnamed: 137,Unnamed: 139,Unnamed: 141,Unnamed: 143,Unnamed: 145,Unnamed: 147,Unnamed: 149,Unnamed: 151,Unnamed: 153,Unnamed: 155
1,กระบี่,กาญจนบุรี,กาฬสินธุ์,กำแพงเพชร,ขอนแก่น,จันทบุรี,ฉะเชิงเทรา,ชลบุรี,ชัยนาท,ชัยภูมิ,...,สุรินทร์,สุโขทัย,หนองคาย,หนองบัวลำภู,อ่างทอง,อำนาจเจริญ,อุดรธานี,อุตรดิตถ์,อุทัยธานี,อุบลราชธานี
3,927689,3069600,3273680,2755856,6123415,1870443,2265259,5064553,1630001,3148887,...,4065032,2525196,1601849,1167934,1079977,1343575,5369440,2104747,1627107,6279147

In [146]:
prov_2567 = df_opd_2567.loc[1].values
prov_2567

array(['กระบี่', 'กาญจนบุรี', 'กาฬสินธุ์', 'กำแพงเพชร', 'ขอนแก่น',
       'จันทบุรี', 'ฉะเชิงเทรา', 'ชลบุรี', 'ชัยนาท', 'ชัยภูมิ', 'ชุมพร',
       'เชียงราย', 'เชียงใหม่', 'ตรัง', 'ตราด', 'ตาก', 'นครนายก',
       'นครปฐม', 'นครพนม', 'นครราชสีมา', 'นครศรีธรรมราช', 'นครสวรรค์',
       'นนทบุรี', 'นราธิวาส', 'น่าน', 'บึงกาฬ', 'บุรีรัมย์', 'ปทุมธานี',
       'ประจวบคีรีขันธ์', 'ปราจีนบุรี', 'ปัตตานี', 'พระนครศรีอยุธยา',
       'พะเยา', 'พังงา', 'พัทลุง', 'พิจิตร', 'พิษณุโลก', 'เพชรบุรี',
       'เพชรบูรณ์', 'แพร่', 'ภูเก็ต', 'มหาสารคาม', 'มุกดาหาร',
       'แม่ฮ่องสอน', 'ยะลา', 'ยโสธร', 'ระนอง', 'ระยอง', 'ราชบุรี',
       'ร้อยเอ็ด', 'ลพบุรี', 'ลำปาง', 'ลำพูน', 'เลย', 'ศรีสะเกษ',
       'สกลนคร', 'สงขลา', 'สตูล', 'สมุทรปราการ', 'สมุทรสงคราม',
       'สมุทรสาคร', 'สระบุรี', 'สระแก้ว', 'สิงห์บุรี', 'สุพรรณบุรี',
       'สุราษฎร์ธานี', 'สุรินทร์', 'สุโขทัย', 'หนองคาย', 'หนองบัวลำภู',
       'อ่างทอง', 'อำนาจเจริญ', 'อุดรธานี', 'อุตรดิตถ์', 'อุทัยธานี',
       'อุบลราชธานี'], dtype=object)

In [147]:
len(prov_2567)

76

In [148]:
no_patient_2567 = df_opd_2567.loc[3].values
no_patient_2567

array([927689, 3069600, 3273680, 2755856, 6123415, 1870443, 2265259,
       5064553, 1630001, 3148887, 1700590, 4569157, 6964724, 2180325,
       779293, 2036452, 938403, 2490316, 2154322, 8294500, 5510031,
       4265926, 3776009, 2142723, 2004080, 1252087, 4959841, 2410309,
       1798804, 1753321, 1643456, 2580110, 1987495, 961913, 2156298,
       2106584, 3834232, 1745272, 3211189, 1873193, 1289900, 2690940,
       1096580, 914187, 1518835, 1710987, 622510, 1962216, 3392130,
       4125211, 2487489, 3259169, 1741869, 2530043, 4851032, 3951321,
       4347898, 1002092, 2709959, 877154, 2542002, 2488045, 1671836,
       1095255, 3214510, 3846374, 4065032, 2525196, 1601849, 1167934,
       1079977, 1343575, 5369440, 2104747, 1627107, 6279147], dtype=object)

In [149]:
df_2567 = pd.DataFrame(data={'Province':prov_2567,
                            'total_OPD': no_patient_2567})
df_2567

       Province total_OPD
0        กระบี่    927689
1     กาญจนบุรี   3069600
2     กาฬสินธุ์   3273680
3     กำแพงเพชร   2755856
4       ขอนแก่น   6123415
..          ...       ...
71   อำนาจเจริญ   1343575
72     อุดรธานี   5369440
73    อุตรดิตถ์   2104747
74    อุทัยธานี   1627107
75  อุบลราชธานี   6279147

[76 rows x 2 columns]

In [150]:
df_2567['Year'] = 2567
df_2567

       Province total_OPD  Year
0        กระบี่    927689  2567
1     กาญจนบุรี   3069600  2567
2     กาฬสินธุ์   3273680  2567
3     กำแพงเพชร   2755856  2567
4       ขอนแก่น   6123415  2567
..          ...       ...   ...
71   อำนาจเจริญ   1343575  2567
72     อุดรธานี   5369440  2567
73    อุตรดิตถ์   2104747  2567
74    อุทัยธานี   1627107  2567
75  อุบลราชธานี   6279147  2567

[76 rows x 3 columns]

In [151]:
new_df = pd.concat([new_df, df_2567], ignore_index=True)
new_df

        Province total_OPD  Year
0         กระบี่   1110208  2556
1      กาญจนบุรี   1780883  2556
2      กาฬสินธุ์   3407362  2556
3      กำแพงเพชร   2511719  2556
4        ขอนแก่น   7250904  2556
..           ...       ...   ...
831   อำนาจเจริญ   1343575  2567
832     อุดรธานี   5369440  2567
833    อุตรดิตถ์   2104747  2567
834    อุทัยธานี   1627107  2567
835  อุบลราชธานี   6279147  2567

[836 rows x 3 columns]

### Test

In [152]:
test1 = pd.DataFrame(data={'col1':[1,2,3],
                           'col2':[4,5,6],
                           'Year':[2556,2556,2556]})
test1

   col1  col2  Year
0     1     4  2556
1     2     5  2556
2     3     6  2556

In [153]:
test2 = pd.DataFrame(data={'col1':[7,8,9],
                           'col2':[10,11,12],
                           'Year':[2557,2557,2557]})
test2

   col1  col2  Year
0     7    10  2557
1     8    11  2557
2     9    12  2557

In [154]:
pd.concat([test1, test2], ignore_index=True)

   col1  col2  Year
0     1     4  2556
1     2     5  2556
2     3     6  2556
3     7    10  2557
4     8    11  2557
5     9    12  2557

In [155]:
df_year_province = pd.read_csv('./df_year_province.csv').drop(columns=['Unnamed: 0'])
df_year_province

        ปี        จังหวัด  จำนวน    province_en     area_sqkm
0     2554         กระบี่    647          krabi   5319.415247
1     2554  กรุงเทพมหานคร  22133        bangkok   1566.577855
2     2554      กาญจนบุรี   1196   kanchanaburi  19405.042979
3     2554      กาฬสินธุ์   1216        kalasin   6898.983456
4     2554      กำแพงเพชร    825  kamphaengphet   8520.494768
...    ...            ...    ...            ...           ...
1073  2567       เพชรบุรี   1155    phetchaburi   6173.001739
1074  2567      เพชรบูรณ์   1742     phetchabun  12333.156079
1075  2567            เลย   1488           loei  10490.079232
1076  2567           แพร่   1185          phrae   6484.532497
1077  2567     แม่ฮ่องสอน    573     maehongson  12784.280567

[1078 rows x 5 columns]

In [156]:
df_year_province.loc[(df_year_province['ปี'] == 2554) & (df_year_province['จังหวัด'] == 'กระบี่')]

     ปี จังหวัด  จำนวน province_en    area_sqkm
0  2554  กระบี่    647       krabi  5319.415247

In [157]:
new_df.loc[(new_df['Year'] == 2557) & (new_df['Province'] == 'กระบี่')]

   Province total_OPD  Year
76   กระบี่    957304  2557

In [ ]:
for i, province in enumerate(df_year_province['จังหวัด']):
    for j, temp_value in enumerate(new_df['Province']):
        # print(temp_value)
        if (temp_value == province) and (df_year_province['ปี'] == new_df['Year']):
        # if temp_value.loc[(temp_value['Province'] == province) & (temp_value['Year'] == i+2554)]:
            df_year_province[:, 'total_OPD'] = new_df.loc[new_df['Province']==temp_value, 'total_OPD'].values[0]
            # print(temp_value)

In [ ]:
df_year_province['ปี']

In [ ]:
new_df['Year']

In [ ]:
new_df.loc[new_df['Province']=='กระบี่', 'total_OPD']

In [ ]:
new_df.loc[new_df['Year'] == 2556]['Year'] == 2556

In [ ]:
df_year_province

In [ ]:
# for i, province in enumerate(df_year_province['จังหวัด']):
#     for j, temp_value in enumerate(new_df['Province']):

#         if (temp_value == province) and \
#            (df_year_province.loc[i, 'ปี'] == new_df.loc[j, 'Year']):

#             df_year_province.loc[i, 'total_OPD'] = new_df.loc[j, 'total_OPD']

In [ ]:
new_df

In [158]:
df_year_province = df_year_province.merge(
    new_df[['Province', 'Year', 'total_OPD']],
    left_on=['จังหวัด', 'ปี'],
    right_on=['Province', 'Year'],
    how='left'
)
df_year_province

,ปี,จังหวัด,จำนวน,province_en,area_sqkm,Province,Year,total_OPD
0,2554,กระบี่,647,krabi,5319.415247,NaN,NaN,NaN
1,2554,กรุงเทพมหานคร,22133,bangkok,1566.577855,NaN,NaN,NaN
2,2554,กาญจนบุรี,1196,kanchanaburi,19405.042979,NaN,NaN,NaN
3,2554,กาฬสินธุ์,1216,kalasin,6898.983456,NaN,NaN,NaN
4,2554,กำแพงเพชร,825,kamphaengphet,8520.494768,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1073,2567,เพชรบุรี,1155,phetchaburi,6173.001739,เพชรบุรี,2567.0,1745272
1074,2567,เพชรบูรณ์,1742,phetchabun,12333.156079,เพชรบูรณ์,2567.0,3211189
1075,2567,เลย,1488,loei,10490.079232,เลย,2567.0,2530043
1076,2567,แพร่,1185,phrae,6484.532497,แพร่,2567.0,1873193
1077,2567,แม่ฮ่องสอน,573,maehongson,12784.280567,แม่ฮ่องสอน,2567.0,914187

In [159]:
df_year_province.loc[df_year_province['จังหวัด'] == 'กระบี่']

        ปี จังหวัด  จำนวน province_en    area_sqkm Province    Year total_OPD
0     2554  กระบี่    647       krabi  5319.415247      NaN     NaN       NaN
77    2555  กระบี่    597       krabi  5319.415247      NaN     NaN       NaN
154   2556  กระบี่    584       krabi  5319.415247   กระบี่  2556.0   1110208
231   2557  กระบี่   1010       krabi  5319.415247   กระบี่  2557.0    957304
308   2558  กระบี่    790       krabi  5319.415247      NaN     NaN       NaN
385   2559  กระบี่    794       krabi  5319.415247   กระบี่  2559.0   1388593
462   2560  กระบี่    846       krabi  5319.415247   กระบี่  2560.0   1289648
539   2561  กระบี่    862       krabi  5319.415247   กระบี่  2561.0   1246366
616   2562  กระบี่    878       krabi  5319.415247   กระบี่  2562.0   1420358
693   2563  กระบี่    923       krabi  5319.415247   กระบี่  2563.0   1206856
770   2564  กระบี่   1044       krabi  5319.415247   กระบี่  2564.0    991758
847   2565  กระบี่   1048       krabi  5319.415247   กระบี่  2565.0   1259039
924   2566  กระบี่   1047       krabi  5319.415247   กระบี่  2566.0   1019057
1001  2567  กระบี่   1081       krabi  5319.415247   กระบี่  2567.0    927689

In [160]:
df_year_province = df_year_province.drop(columns=['Province', 'Year'])
df_year_province

        ปี        จังหวัด  จำนวน    province_en     area_sqkm total_OPD
0     2554         กระบี่    647          krabi   5319.415247       NaN
1     2554  กรุงเทพมหานคร  22133        bangkok   1566.577855       NaN
2     2554      กาญจนบุรี   1196   kanchanaburi  19405.042979       NaN
3     2554      กาฬสินธุ์   1216        kalasin   6898.983456       NaN
4     2554      กำแพงเพชร    825  kamphaengphet   8520.494768       NaN
...    ...            ...    ...            ...           ...       ...
1073  2567       เพชรบุรี   1155    phetchaburi   6173.001739   1745272
1074  2567      เพชรบูรณ์   1742     phetchabun  12333.156079   3211189
1075  2567            เลย   1488           loei  10490.079232   2530043
1076  2567           แพร่   1185          phrae   6484.532497   1873193
1077  2567     แม่ฮ่องสอน    573     maehongson  12784.280567    914187

[1078 rows x 6 columns]

In [ ]:
# df_year_province.to_csv('df_year_province_v2.csv')

In [ ]:
# new_df.to_csv('all_OPD.csv')

In [ ]:
new_df.loc[(new_df['Year'] == 2567) & (new_df['Province'] == 'อ่างทอง')]

### Import Total Population
- Get column named 'Total_population', then merge with df_year_province

In [161]:
df_total_pop = pd.read_excel('../add_data/01_nurse_midpop_area_province.xlsx')
df_total_pop

,year,province_eng,province_code,region_6,health_reginal_13,number_of_nurses,Total_population,area,nurse_per_1000_population,nurse_per_100_sq_km
0,2024,Bangkok,1,Central,Region 13,41766,5362199,1564,7.79,2670.46
1,2024,Chiang Rai,34,Northern,Region 1,3142,1163471,11503,2.70,27.31
2,2024,Chiang Mai,27,Northern,Region 1,6851,1635487,22135,4.19,30.95
3,2024,Nan,32,Northern,Region 1,1425,469795,12130,3.03,11.75
4,2024,Phayao,33,Northern,Region 1,1329,453878,6189,2.93,21.47
...,...,...,...,...,...,...,...,...,...,...
1073,2011,Narathiwat,77,Southern,Region 12,1194,742268,4475,1.61,26.68
1074,2011,Pattani,75,Southern,Region 12,861,659373,1940,1.31,44.38
1075,2011,Yala,76,Southern,Region 12,1349,490574,4521,2.75,29.84
1076,2011,Songkhla,71,Southern,Region 12,4006,1362017,7394,2.94,54.18
1077,2011,Satun,72,Southern,Region 12,671,299315,2479,2.24,27.07

In [162]:
df_total_pop['province_eng'].unique()

array(['Bangkok', 'Chiang Rai', 'Chiang Mai', 'Nan', 'Phayao', 'Phrae',
       'Mae Hong Son', 'Lampang', 'Lamphun', 'Tak', 'Phitsanulok',
       'Phetchabun', 'Sukhothai', 'Uttaradit', 'Kamphaeng Phet',
       'Chai Nat', 'Nakhon Sawan', 'Phichit', 'Uthai Thani',
       'Nakhon Nayok', 'Nonthaburi', 'Pathum Thani',
       'Phra Nakhon Si Ayutthaya', 'Lopburi', 'Saraburi', 'Sing Buri',
       'Ang Thong', 'Kanchanaburi', 'Nakhon Pathom',
       'Prachuap Khiri Khan', 'Phetchaburi', 'Ratchaburi',
       'Samut Songkhram', 'Samut Sakhon', 'Suphan Buri', 'Chanthaburi',
       'Chachoengsao', 'Chonburi', 'Trat', 'Prachinburi', 'Rayong',
       'Samut Prakan', 'Sa Kaeo', 'Kalasin', 'Khon Kaen', 'Maha Sarakham',
       'Roi Et', 'Nakhon Phanom', 'Bueng Kan', 'Loei', 'Sakon Nakhon',
       'Nong Khai', 'Nong Bua Lamphu', 'Udon Thani', 'Chaiyaphum',
       'Nakhon Ratchasima', 'Buriram', 'Surin', 'Mukdahan', 'Yasothon',
       'Sisaket', 'Amnat Charoen', 'Ubon Ratchathani', 'Krabi',
       'Chumphon', 'Nakhon Si Thammarat', 'Phang Nga', 'Phuket', 'Ranong',
       'Surat Thani', 'Trang', 'Narathiwat', 'Pattani', 'Phatthalung',
       'Yala', 'Songkhla', 'Satun'], dtype=object)

In [163]:
province_mapping2 = {'Bangkok':'กรุงเทพมหานคร', 'Chiang Rai':'เชียงราย', 'Chiang Mai':'เชียงใหม่', 'Nan':'น่าน', 'Phayao':'พะเยา', 'Phrae':'แพร่',
       'Mae Hong Son':'แม่ฮ่องสอน', 'Lampang':'ลำปาง', 'Lamphun':'ลำพูน', 'Tak':'ตาก', 'Phitsanulok':'พิษณุโลก',
       'Phetchabun':'เพชรบูรณ์', 'Sukhothai':'สุโขทัย', 'Uttaradit':'อุตรดิตถ์', 'Kamphaeng Phet':'กำแพงเพชร',
       'Chai Nat':'ชัยนาท', 'Nakhon Sawan':'นครสวรรค์', 'Phichit':'พิจิตร', 'Uthai Thani':'อุทัยธานี',
       'Nakhon Nayok':'นครนายก', 'Nonthaburi':'นนทบุรี', 'Pathum Thani':'ปทุมธานี',
       'Phra Nakhon Si Ayutthaya':'พระนครศรีอยุธยา', 'Lopburi':'ลพบุรี', 'Saraburi':'สระบุรี', 'Sing Buri':'สิงห์บุรี',
       'Ang Thong':'อ่างทอง', 'Kanchanaburi':'กาญจนบุรี', 'Nakhon Pathom':'นครปฐม',
       'Prachuap Khiri Khan':'ประจวบคีรีขันธ์', 'Phetchaburi':'เพชรบุรี', 'Ratchaburi':'ราชบุรี',
       'Samut Songkhram':'สมุทรสงคราม', 'Samut Sakhon':'สมุทรสาคร', 'Suphan Buri':'สุพรรณบุรี', 'Chanthaburi':'จันทบุรี',
       'Chachoengsao':'ฉะเชิงเทรา', 'Chonburi':'ชลบุรี', 'Trat':'ตราด', 'Prachinburi':'ปราจีนบุรี', 'Rayong':'ระยอง',
       'Samut Prakan':'สมุทรปราการ', 'Sa Kaeo':'สระแก้ว', 'Kalasin':'กาฬสินธุ์', 'Khon Kaen':'ขอนแก่น', 'Maha Sarakham':'มหาสารคาม',
       'Roi Et':'ร้อยเอ็ด', 'Nakhon Phanom':'นครพนม', 'Bueng Kan':'บึงกาฬ', 'Loei':'เลย', 'Sakon Nakhon':'สกลนคร',
       'Nong Khai':'หนองคาย', 'Nong Bua Lamphu':'หนองบัวลำภู', 'Udon Thani':'อุดรธานี', 'Chaiyaphum':'ชัยภูมิ',
       'Nakhon Ratchasima':'นครราชสีมา', 'Buriram':'บุรีรัมย์', 'Surin':'สุรินทร์', 'Mukdahan':'มุกดาหาร', 'Yasothon':'ยโสธร',
       'Sisaket':'ศรีสะเกษ', 'Amnat Charoen':'อำนาจเจริญ', 'Ubon Ratchathani':'อุบลราชธานี', 'Krabi':'กระบี่',
       'Chumphon':'ชุมพร', 'Nakhon Si Thammarat':'นครศรีธรรมราช', 'Phang Nga':'พังงา', 'Phuket':'ภูเก็ต', 'Ranong':'ระนอง',
       'Surat Thani':'สุราษฎร์ธานี', 'Trang':'ตรัง', 'Narathiwat':'นราธิวาส', 'Pattani':'ปัตตานี', 'Phatthalung':'พัทลุง',
       'Yala':'ยะลา', 'Songkhla':'สงขลา', 'Satun':'สตูล'}

df_total_pop['province_eng'] = df_total_pop['province_eng'].replace(province_mapping2)
df_total_pop

,year,province_eng,province_code,region_6,health_reginal_13,number_of_nurses,Total_population,area,nurse_per_1000_population,nurse_per_100_sq_km
0,2024,กรุงเทพมหานคร,1,Central,Region 13,41766,5362199,1564,7.79,2670.46
1,2024,เชียงราย,34,Northern,Region 1,3142,1163471,11503,2.70,27.31
2,2024,เชียงใหม่,27,Northern,Region 1,6851,1635487,22135,4.19,30.95
3,2024,น่าน,32,Northern,Region 1,1425,469795,12130,3.03,11.75
4,2024,พะเยา,33,Northern,Region 1,1329,453878,6189,2.93,21.47
...,...,...,...,...,...,...,...,...,...,...
1073,2011,นราธิวาส,77,Southern,Region 12,1194,742268,4475,1.61,26.68
1074,2011,ปัตตานี,75,Southern,Region 12,861,659373,1940,1.31,44.38
1075,2011,ยะลา,76,Southern,Region 12,1349,490574,4521,2.75,29.84
1076,2011,สงขลา,71,Southern,Region 12,4006,1362017,7394,2.94,54.18
1077,2011,สตูล,72,Southern,Region 12,671,299315,2479,2.24,27.07

In [164]:
df_total_pop['province_eng'].unique()

array(['กรุงเทพมหานคร', 'เชียงราย', 'เชียงใหม่', 'น่าน', 'พะเยา', 'แพร่',
       'แม่ฮ่องสอน', 'ลำปาง', 'ลำพูน', 'ตาก', 'พิษณุโลก', 'เพชรบูรณ์',
       'สุโขทัย', 'อุตรดิตถ์', 'กำแพงเพชร', 'ชัยนาท', 'นครสวรรค์',
       'พิจิตร', 'อุทัยธานี', 'นครนายก', 'นนทบุรี', 'ปทุมธานี',
       'พระนครศรีอยุธยา', 'ลพบุรี', 'สระบุรี', 'สิงห์บุรี', 'อ่างทอง',
       'กาญจนบุรี', 'นครปฐม', 'ประจวบคีรีขันธ์', 'เพชรบุรี', 'ราชบุรี',
       'สมุทรสงคราม', 'สมุทรสาคร', 'สุพรรณบุรี', 'จันทบุรี', 'ฉะเชิงเทรา',
       'ชลบุรี', 'ตราด', 'ปราจีนบุรี', 'ระยอง', 'สมุทรปราการ', 'สระแก้ว',
       'กาฬสินธุ์', 'ขอนแก่น', 'มหาสารคาม', 'ร้อยเอ็ด', 'นครพนม',
       'บึงกาฬ', 'เลย', 'สกลนคร', 'หนองคาย', 'หนองบัวลำภู', 'อุดรธานี',
       'ชัยภูมิ', 'นครราชสีมา', 'บุรีรัมย์', 'สุรินทร์', 'มุกดาหาร',
       'ยโสธร', 'ศรีสะเกษ', 'อำนาจเจริญ', 'อุบลราชธานี', 'กระบี่',
       'ชุมพร', 'นครศรีธรรมราช', 'พังงา', 'ภูเก็ต', 'ระนอง',
       'สุราษฎร์ธานี', 'ตรัง', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'ยะลา',
       'สงขลา', 'สตูล'], dtype=object)

In [165]:
df_total_pop['year'].unique()

array([2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014,
       2013, 2012, 2011], dtype=int64)

In [166]:
year_mapping = {2024:2567, 2023:2566, 2022:2565, 2021:2564, 2020:2563, 2019:2562, 2018:2561, 2017:2560, 2016:2559, 2015:2558, 2014:2557,
                2013:2556, 2012:2555, 2011:2554}

df_total_pop['year'] = df_total_pop['year'].replace(year_mapping)
df_total_pop

,year,province_eng,province_code,region_6,health_reginal_13,number_of_nurses,Total_population,area,nurse_per_1000_population,nurse_per_100_sq_km
0,2567,กรุงเทพมหานคร,1,Central,Region 13,41766,5362199,1564,7.79,2670.46
1,2567,เชียงราย,34,Northern,Region 1,3142,1163471,11503,2.70,27.31
2,2567,เชียงใหม่,27,Northern,Region 1,6851,1635487,22135,4.19,30.95
3,2567,น่าน,32,Northern,Region 1,1425,469795,12130,3.03,11.75
4,2567,พะเยา,33,Northern,Region 1,1329,453878,6189,2.93,21.47
...,...,...,...,...,...,...,...,...,...,...
1073,2554,นราธิวาส,77,Southern,Region 12,1194,742268,4475,1.61,26.68
1074,2554,ปัตตานี,75,Southern,Region 12,861,659373,1940,1.31,44.38
1075,2554,ยะลา,76,Southern,Region 12,1349,490574,4521,2.75,29.84
1076,2554,สงขลา,71,Southern,Region 12,4006,1362017,7394,2.94,54.18
1077,2554,สตูล,72,Southern,Region 12,671,299315,2479,2.24,27.07

In [167]:
df_year_province

        ปี        จังหวัด  จำนวน    province_en     area_sqkm total_OPD
0     2554         กระบี่    647          krabi   5319.415247       NaN
1     2554  กรุงเทพมหานคร  22133        bangkok   1566.577855       NaN
2     2554      กาญจนบุรี   1196   kanchanaburi  19405.042979       NaN
3     2554      กาฬสินธุ์   1216        kalasin   6898.983456       NaN
4     2554      กำแพงเพชร    825  kamphaengphet   8520.494768       NaN
...    ...            ...    ...            ...           ...       ...
1073  2567       เพชรบุรี   1155    phetchaburi   6173.001739   1745272
1074  2567      เพชรบูรณ์   1742     phetchabun  12333.156079   3211189
1075  2567            เลย   1488           loei  10490.079232   2530043
1076  2567           แพร่   1185          phrae   6484.532497   1873193
1077  2567     แม่ฮ่องสอน    573     maehongson  12784.280567    914187

[1078 rows x 6 columns]

In [168]:
# df_year_province = df_year_province.merge(
#     new_df[['Province', 'Year', 'total_OPD']],
#     left_on=['จังหวัด', 'ปี'],
#     right_on=['Province', 'Year'],
#     how='left'
# )
# df_year_province

In [169]:
df_year_province = df_year_province.merge(
    df_total_pop[['year', 'province_eng', 'Total_population']],
    left_on=['ปี', 'จังหวัด'],
    right_on=['year', 'province_eng'],
    how='left'
)
df_year_province

,ปี,จังหวัด,จำนวน,province_en,area_sqkm,total_OPD,year,province_eng,Total_population
0,2554,กระบี่,647,krabi,5319.415247,NaN,2554,กระบี่,435372
1,2554,กรุงเทพมหานคร,22133,bangkok,1566.577855,NaN,2554,กรุงเทพมหานคร,5688119
2,2554,กาญจนบุรี,1196,kanchanaburi,19405.042979,NaN,2554,กาญจนบุรี,839345
3,2554,กาฬสินธุ์,1216,kalasin,6898.983456,NaN,2554,กาฬสินธุ์,982117
4,2554,กำแพงเพชร,825,kamphaengphet,8520.494768,NaN,2554,กำแพงเพชร,726551
...,...,...,...,...,...,...,...,...,...
1073,2567,เพชรบุรี,1155,phetchaburi,6173.001739,1745272,2567,เพชรบุรี,479450
1074,2567,เพชรบูรณ์,1742,phetchabun,12333.156079,3211189,2567,เพชรบูรณ์,962015
1075,2567,เลย,1488,loei,10490.079232,2530043,2567,เลย,629607
1076,2567,แพร่,1185,phrae,6484.532497,1873193,2567,แพร่,423343
1077,2567,แม่ฮ่องสอน,573,maehongson,12784.280567,914187,2567,แม่ฮ่องสอน,242493

In [170]:
df_year_province = df_year_province.drop(columns=['province_eng', 'year'])
df_year_province

,ปี,จังหวัด,จำนวน,province_en,area_sqkm,total_OPD,Total_population
0,2554,กระบี่,647,krabi,5319.415247,NaN,435372
1,2554,กรุงเทพมหานคร,22133,bangkok,1566.577855,NaN,5688119
2,2554,กาญจนบุรี,1196,kanchanaburi,19405.042979,NaN,839345
3,2554,กาฬสินธุ์,1216,kalasin,6898.983456,NaN,982117
4,2554,กำแพงเพชร,825,kamphaengphet,8520.494768,NaN,726551
...,...,...,...,...,...,...,...
1073,2567,เพชรบุรี,1155,phetchaburi,6173.001739,1745272,479450
1074,2567,เพชรบูรณ์,1742,phetchabun,12333.156079,3211189,962015
1075,2567,เลย,1488,loei,10490.079232,2530043,629607
1076,2567,แพร่,1185,phrae,6484.532497,1873193,423343
1077,2567,แม่ฮ่องสอน,573,maehongson,12784.280567,914187,242493

In [174]:
# df_year_province.loc[(df_year_province['ปี'] == 2560) & (df_year_province['จังหวัด'] == 'อ่างทอง')]

In [173]:
# df_year_province[df_year_province['ปี'] == 2556]

In [182]:
region = {'Region1':['เชียงราย', 'เชียงใหม่', 'น่าน', 'พะเยา', 'แพร่', 'แม่ฮ่องสอน', 'ลำปาง', 'ลำพูน'],
          'Region2':['ตาก', 'พิษณุโลก', 'เพชรบูรณ์', 'สุโขทัย', 'อุตรดิตถ์']}

In [191]:
list(region.values())[0]

['เชียงราย',
 'เชียงใหม่',
 'น่าน',
 'พะเยา',
 'แพร่',
 'แม่ฮ่องสอน',
 'ลำปาง',
 'ลำพูน']

In [195]:
region.items()

dict_items([('Region1', ['เชียงราย', 'เชียงใหม่', 'น่าน', 'พะเยา', 'แพร่', 'แม่ฮ่องสอน', 'ลำปาง', 'ลำพูน']), ('Region2', ['ตาก', 'พิษณุโลก', 'เพชรบูรณ์', 'สุโขทัย', 'อุตรดิตถ์'])])

In [196]:
df_year_province.describe()

             ปี         จำนวน     area_sqkm  Total_population
count  1078.000   1078.000000   1078.000000      1.078000e+03
mean   2560.500   2117.671614   6701.855367      8.442144e+05
std       4.033   3715.941157   4702.430381      7.147977e+05
min    2554.000    359.000000    412.486728      1.751210e+05
25%    2557.000    946.500000   3487.650451      4.703365e+05
50%    2560.500   1405.500000   5582.585681      6.389710e+05
75%    2564.000   2040.500000   9525.605469      1.065416e+06
max    2567.000  41766.000000  22056.887318      5.688119e+06

In [197]:
df_year_province[df_year_province['จำนวน'] == 359]

       ปี จังหวัด  จำนวน province_en    area_sqkm total_OPD  Total_population
178  2556  บึงกาฬ    359    buengkan  3979.545293    929015            414425

### IPD2556

In [ ]:
df_ipd_2556 = pd.read_excel('../add_data/dataset/IPD/IPD2556.xls')
df_ipd_2556

In [ ]:
df_ipd_2556 = df_ipd_2556.loc[2:4:2]
df_ipd_2556

In [ ]:
df_ipd_2556.columns

In [ ]:
df_ipd_2556 = df_ipd_2556.drop(columns=[df_ipd_2556.columns[0]])
df_ipd_2556

In [ ]:
df_ipd_2556 = df_ipd_2556.drop(columns=[f'Unnamed: {i}' for i in range(4,len(df_ipd_2556.columns)+1,2)])
df_ipd_2556

In [ ]:
df_ipd_2556 = df_ipd_2556.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
df_ipd_2556

In [ ]:
prov_2556 = df_ipd_2556.loc[2].values
prov_2556

In [ ]:
no_patient_2556 = df_ipd_2556.loc[4].values
no_patient_2556

In [ ]:
new_df = pd.DataFrame(data={'Province':prov_2556,
                            'total_IPD': no_patient_2556})
new_df

In [ ]:
new_df['Year'] = 2556
new_df

In [ ]:
# df_year_province = df_year_province.merge(df_2556[['Province', 'Year', 'total_IPD']], left_on=['จังหวัด', 'ปี'], right_on=['Province', 'Year'], how='left')
# df_year_province

In [ ]:
# df_year_province = df_year_province.drop(columns=['Province', 'Year'])
# df_year_province

In [ ]:
df_year_province.loc[(df_year_province['ปี']==2556) & (df_year_province['จังหวัด']=='อ่างทอง')]

### IPD2557

In [ ]:
df_ipd_2557 = pd.read_excel('../add_data/dataset/IPD/IPD2557.xls')
df_ipd_2557

In [ ]:
df_ipd_2557 = df_ipd_2557.loc[2:4:2]
df_ipd_2557

In [ ]:
df_ipd_2557 = df_ipd_2557.drop(columns=[df_ipd_2557.columns[0]])
df_ipd_2557

In [ ]:
df_ipd_2557 = df_ipd_2557.drop(columns=[f'Unnamed: {i}' for i in range(4,len(df_ipd_2557.columns)+1,2)])
df_ipd_2557

In [ ]:
df_ipd_2557 = df_ipd_2557.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
df_ipd_2557

In [ ]:
prov_2557 = df_ipd_2557.loc[2].values
prov_2557

In [ ]:
no_patient_2557 = df_ipd_2557.loc[4].values
no_patient_2557

In [ ]:
df_2557 = pd.DataFrame(data={'Province':prov_2557,
                            'total_IPD': no_patient_2557})
df_2557

In [ ]:
df_2557['Year'] = 2557
df_2557

In [ ]:
new_df = pd.concat([new_df, df_2557], ignore_index=True)
new_df

In [ ]:
# df_year_province = df_year_province.merge(df_2557[['Province', 'Year', 'total_IPD']], left_on=['จังหวัด', 'ปี'], right_on=['Province', 'Year'], how='left')
# df_year_province

In [ ]:
# df_year_province = df_year_province.drop(columns=['Province', 'Year'])
# df_year_province

In [ ]:
new_df.loc[(new_df['Year']==2557) & (new_df['Province']=='กระบี่')]

### IPD2558
- Data is so wired.

In [ ]:
df_ipd_2558 = pd.read_excel('../add_data/dataset/IPD/IPD2558.xls')
df_ipd_2558.head(10)

In [ ]:
df_ipd_2558 = df_ipd_2558.loc[2:4:2]
df_ipd_2558

In [ ]:
df_ipd_2558.columns

In [ ]:
df_ipd_2558 = df_ipd_2558.drop(columns=[df_ipd_2558.columns[0]])
df_ipd_2558

In [ ]:
df_ipd_2558 = df_ipd_2558.drop(columns=[f'Unnamed: {i}' for i in range(4,len(df_ipd_2558.columns)+1,2)])
df_ipd_2558

In [ ]:
df_ipd_2558 = df_ipd_2558.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
df_ipd_2558

In [ ]:
prov_2558 = df_ipd_2558.loc[2].values
prov_2558

In [ ]:
no_patient_2558 = df_ipd_2558.loc[4].values
no_patient_2558

In [ ]:
df_2558 = pd.DataFrame(data={'Province':prov_2558,
                            'total_IPD': no_patient_2558})
df_2558

In [ ]:
df_2558['Year'] = 2558
df_2558

In [ ]:
df_year_province = df_year_province.merge(df_2558[['Province', 'Year', 'total_IPD']], left_on=['จังหวัด', 'ปี'], right_on=['Province', 'Year'], how='left')
df_year_province

In [ ]:
df_year_province = df_year_province.drop(columns=['Province', 'Year'])
df_year_province

In [ ]:
df_year_province = df_year_province.drop(columns=['total_IPD_x', 'total_IPD_y'])
df_year_province

In [ ]:
df_year_province.loc[(df_year_province['ปี']==2558) & (df_year_province['จังหวัด']=='ภูเก็ต')]

### IPD2559

In [ ]:
df_ipd_2559 = pd.read_excel('../add_data/dataset/IPD/IPD2559.xls')
df_ipd_2559

In [ ]:
df_ipd_2559 = df_ipd_2559.loc[2:4:2]
df_ipd_2559

In [ ]:
df_ipd_2559 = df_ipd_2559.drop(columns=[df_ipd_2559.columns[0]])
df_ipd_2559

In [ ]:
df_ipd_2559 = df_ipd_2559.drop(columns=[f'Unnamed: {i}' for i in range(4,len(df_ipd_2559.columns)+1,2)])
df_ipd_2559

In [ ]:
df_ipd_2559 = df_ipd_2559.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'])
df_ipd_2559

In [ ]:
prov_2559 = df_ipd_2559.loc[2].values
prov_2559

In [ ]:
no_patient_2559 = df_ipd_2559.loc[4].values
no_patient_2559

In [ ]:
df_2559 = pd.DataFrame(data={'Province':prov_2559,
                            'total_IPD': no_patient_2559})
df_2559

In [ ]:
df_2559['Year'] = 2559
df_2559

In [ ]:
new_df = pd.concat([new_df, df_2559], ignore_index=True)
new_df

In [ ]:
new_df.loc[(new_df['Year']==2559) & (new_df['Province']=='อ่างทอง')]

### IPD2560
- Data is missing.

### IPD2561

In [ ]:
df_ipd_2560 = pd.read_excel('../add_data/dataset/IPD/IPD2561.xlsx')
df_ipd_2560